<% if can? :create, Question %>
  <div class='add-one'><%= link_to "Add a question", new_question_path%></div>

  <% @questions.each do |question| %>
    <div class='question'>
      <h6>Question &emsp; &emsp; &emsp;
        <% question.lessons.each do |lesson|%>
          &emsp; <%= lesson.name%> &emsp;
        <% end %>
      </h6>
      <p class="question-content">
        <%= question.question_text%>
      </p>
      <h6>Solution</h6>
      <p class="question-solution-text">
        <%= question.solution %>
      </p>
      <div class='experience'>
        Experience: <%= question.experience %>
      </div>
      <div class='level'>
        Difficulty Level: <%= question.difficulty_level %>
      </div>
      <ul class='question-choices'>
        <% question.choices.each do |choice| %>
          <li>
            &emsp; <%= choice.content %>
            &emsp; <%= choice.correct %>
            <% if can? :edit, choice%>
              &emsp; <%= link_to "Edit choice",  edit_choice_path(choice), id:"edit-question-#{question.id}-choice-#{choice.id}"  %>
              &emsp; <%= link_to "Delete choice",  choice_path(choice), id:"delete-question-#{question.id}-choice-#{choice.id}", method: :delete %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <% if can? :edit, question%>
        <div class='crud-links'>
          &emsp;
          <%= link_to "Edit question", edit_question_path(question), id:"edit-question-#{question.id}" %>
          &emsp;
          <%= link_to "Delete question", question_path(question), id:"delete-question-#{question.id}", method: :delete %>
          &emsp;
          <%= link_to "Add a choice to question", new_question_choice_path(question) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h1>Good try but no - you cannot see the questions and solutions list!...:)</h1>
<% end %>
