<% if current_maker %>
  <p>
    <%= link_to "Add a question", new_question_path%>
  </p>
  <% @questions.each do |question| %>
    <p>
      <strong>Question </strong>
      <%= question.question_text%>
      &emsp;
      <strong>Solution </strong>
      <%=question.solution%>
      &emsp;
      <% if current_maker == question.maker%>
        <%= link_to "Edit question", edit_question_path(question) %>
        <%= link_to "Delete question", question_path(question), method: :delete %>
        <%= link_to "Add a choice to question", new_question_choice_path(question) %>
      <% end %>
      <p>
        <ul>
        <% question.choices.each do |choice| %>
          <li>&emsp; <%= choice.content %>&emsp;<%= choice.correct %></li>
        <% end %>
        </ul>
      </p>
    </p>
  <% end %>
<% end %>
