<% if (can? :create, Question) || (can? :update, Question) %>
  <% unless !(can? :create, @questions) %>
    <div class='add-one'><%= link_to "Add a question", new_question_path%></div>

    <div class="lesson-selector">
      <%= form_tag (select_lesson_questions_download_path) do %>
        <%= label_tag 'download_lesson_id', 'download lesson id' %>
        <%= text_field_tag 'download_lesson_id' %>
        <%= submit_tag "Download Lesson Questions"%>
      <% end %>
    </div>

    <div class='add-one'>
      <%= link_to "Download Questions List", questions_list_url %>
    </div>

    <div class="lesson-selector">
      <%= form_tag (questions_select_lesson_path) do %>
        <%= label_tag 'lesson_id', 'Lesson ID' %>
        <%= text_field_tag 'lesson_id' %>
        <%= label_tag 'order_group', 'Order Group' %>
        <%= text_field_tag 'order_group' %>
        <%= submit_tag "Filter by this Lesson ID"%>
      <% end %>
    </div>
  <% end %>
  <% @questions.each do |question| %>
    <div class='question'>
      <h6>Question &emsp; &emsp; &emsp;
        <% question.lessons.each do |lesson|%>
          &emsp; <%= lesson.name%> &emsp;
        <% end %>
      </h6>
      <p class="question-content">
        <%= question.question_text%>
      </p>
      <h6>Solution</h6>
      <% if question.solution_image.exists? %>
        <%= image_tag question.solution_image.url(:medium), class: 'solution-image' %>
      <% end %>
      <p class="question-solution-text">
        <%= question.solution %>
      </p>
      <div class='experience'>
        Order group: <%= question.order %>
      </div>
      <div class='experience'>
        Experience: <%= question.experience %>
      </div>
      <div class='level'>
        Difficulty Level: <%= question.difficulty_level %>
      </div>

      <% if question.answers.length > 0 %>
        <h6 style="display:inline-block;padding-top:30px;">Answers</h6>
        <ul class='question-choices'>
          <% question.answers.order('created_at').each do |answer| %>
            <li>
              &emsp; <strong>Label</strong> &emsp; <%= answer.label %>
              &emsp; <strong>Solution</strong> &emsp; <%= answer.solution %>
              &emsp; <strong>Hint</strong> &emsp; <%= answer.hint %>
              <% if can? :edit, answer %>
                &emsp; <%= link_to "Edit answer",  edit_answer_path(answer), id:"edit-question-#{question.id}-answer-#{answer.id}"  %>
                &emsp; <%= link_to "Delete answer",  answer_path(answer), id:"delete-question-#{question.id}-answer-#{answer.id}", method: :delete %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if question.choices.length > 0 %>
        <h6 style="display:inline-block;padding-top:30px;">Choices</h6>
        <ul class='question-choices'>
          <% question.choices.each do |choice| %>
            <li>
              &emsp; <%= choice.content %>
              &emsp; <%= choice.correct %>
              <% if choice.images.length > 0 %>
                <%= image_tag choice.images.first.picture.url(:medium), class: "choice-image" %>
              <% end %>
              <% if can? :edit, choice%>
                &emsp; <%= link_to "Edit choice",  edit_choice_path(choice), id:"edit-question-#{question.id}-choice-#{choice.id}"  %>
                &emsp; <%= link_to "Delete choice",  choice_path(choice), id:"delete-question-#{question.id}-choice-#{choice.id}", method: :delete %>
                &emsp; <%= link_to "Add image choice",  attach_image_choice_path(choice), id:"image"  %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if can? :edit, question%>
        <div class='crud-links'>
          &emsp;
          <%= link_to "Edit question", edit_question_path(question), id:"edit-question-#{question.id}" %>
          <% unless !(can? :create, @questions) %>
          &emsp;
          <%= link_to "Delete question", question_path(question), id:"delete-question-#{question.id}", method: :delete %>
          <% end %>
          <% if question.answers.empty? %>
          &emsp;
          <%= link_to "Add a choice to question", new_question_choice_path(question) %>
          <% end %>
          <% if question.choices.empty? %>
          &emsp;
          <%= link_to "Add an answer to question", new_question_answer_path(question) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

<% else %>
  <h1>Good try but no - you cannot see the questions and solutions list!...:)</h1>
<% end %>
