<% if can? :create, Question %>
  <div class="new-question-form">
    <%= form_for @question do |f| %>
    <%= f.label :question_text %>
    <%= f.text_area :question_text %>
    <%= f.label :solution %>
    <%= f.text_area :solution %>
    <%= f.label :difficulty_level %>
    <%= f.text_area :difficulty_level %>
    <%= f.label :experience %>
    <%= f.text_area :experience %>
    <%= f.label :order %>
    <%= f.text_area :order %>
    <%= f.hidden_field :redirect, value: @referer %>
    <%= f.submit %>
    <% end %>
  </div>

  <% @questions.each do |question| %>
    <div class='question'>
      <h6>Question &emsp; &emsp; &emsp;
        <% question.lessons.each do |lesson|%>
          &emsp; <%= lesson.name%> &emsp;
        <% end %>
      </h6>
      <p class="question-content">
        <%= question.question_text%>
      </p>
      <h6>Solution</h6>
      <p class="question-solution-text">
        <%= question.solution %>
      </p>
      <div class='experience'>
        Experience: <%= question.experience %>
      </div>
      <div class='level'>
        Difficulty Level: <%= question.difficulty_level %>
      </div>

      <% if question.answers.length > 0 %>
        <h6 style="display:inline-block;padding-top:30px;">Answers</h6>
        <ul class='question-choices'>
          <% question.answers.each do |answer| %>
            <li>
              &emsp; <strong>Label</strong> &emsp; <%= answer.label %>
              &emsp; <strong>Solution</strong> &emsp; <%= answer.solution %>
              &emsp; <strong>Hint</strong> &emsp; <%= answer.hint %>
              <% if can? :edit, answer %>
                &emsp; <%= link_to "Edit answer",  edit_answer_path(answer), id:"edit-question-#{question.id}-answer-#{answer.id}"  %>
                &emsp; <%= link_to "Delete answer",  answer_path(answer), id:"delete-question-#{question.id}-answer-#{answer.id}", method: :delete %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if question.choices.length > 0 %>
        <h6 style="display:inline-block;padding-top:30px;">Choices</h6>
        <ul class='question-choices'>
          <% question.choices.each do |choice| %>
            <li>
              &emsp; <%= choice.content %>
              &emsp; <%= choice.correct %>
              <% if can? :edit, choice%>
                &emsp; <%= link_to "Edit choice",  edit_choice_path(choice), id:"edit-question-#{question.id}-choice-#{choice.id}"  %>
                &emsp; <%= link_to "Delete choice",  choice_path(choice), id:"delete-question-#{question.id}-choice-#{choice.id}", method: :delete %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if can? :edit, question%>
        <div class='crud-links'>
          &emsp;
          <%= link_to "Edit question", edit_question_path(question), id:"edit-question-#{question.id}" %>
          &emsp;
          <%= link_to "Delete question", question_path(question), id:"delete-question-#{question.id}", method: :delete %>
          &emsp;
          <%= link_to "Add a choice to question", new_question_choice_path(question) %>
          &emsp;
          <%= link_to "Add an answer to question", new_question_answer_path(question) %>
        </div>
      <% end %>
    </div>
  <% end %>

<% else %>
  <h1>Good try but no - you cannot see the questions and solutions list!...:)</h1>
<% end %>
