<div class="unit-name">
    <%= @unit.name %>
</div>
<div class="back">
    <%= link_to "Back", course_path(@unit.course)%>
</div>
<% if can? :create, Topic %>
  <div class="back">
    <%= link_to "Add a new chapter", new_unit_topic_path(@unit) %>
  </div>
<% end %>

<% if @unit.topics.any? %>
  <%topic_count = 1%>
  <% @unit.topics.each do |topic| %>
      <a data-toggle="collapse" href="#collapse<%=topic_count%>">
          <div class='topic-headings'>
            <h4>Chapter <%= topic_count%>&emsp; <%= topic.name %></h4>
            <p><%= topic.description %><p>
          </div>
          <% if can? :edit, topic %>
            <div class='crud-links'>
              &emsp;
              <%= link_to "Edit chapter", edit_topic_path(topic) %>
              &emsp;
              <%= link_to "Delete chapter", topic_path(topic), method: :delete%>
              &emsp;
              <%= link_to "Add a lesson to chapter", new_topic_lesson_path(topic) %>
            </div>
          <% end %>
      </a>
      <div id="collapse<%=topic_count%>" class="panel-collapse collapse">
          <%topic_count = topic_count + 1%>
          <%lesson_count = 1%>
          <% topic.lessons.each do |lesson| %>
            <div class="lesson-heading">
              <%= lesson_count %>. <%= lesson.name %>
            </div>
            <%lesson_count = lesson_count + 1%>
            <iframe width="940" height="528" src="https://www.youtube.com/embed/<%= lesson.video %>" frameborder="0" allowfullscreen></iframe>
            <% if can? :edit, lesson %>
            <div class='crud-links'>
              &emsp;
              <%= link_to "Edit lesson", edit_lesson_path(lesson) %>
              &emsp;
              <%= link_to "Delete lesson", lesson_path(lesson), method: :delete%>
              &emsp;
              <%= link_to "Add questions to lesson", new_question_lesson_path(lesson) %>
            </div>
            <% end %>
            <div class="question-div">
            <% if current_user and (current_user.admin? || current_user.super_admin?) %>
              <%question_count = 1%>
              <% lesson.questions.each do |question| %>
                <p><strong>Question <%= question_count%></strong></p>
                <p><%= question.question_text %></p>
                <p><strong>Solution <%= question_count%></strong></p>
                <p><%= question.solution %></p>
                <%question_count = question_count + 1%>
                <p>
                  <%= link_to "Edit question", edit_question_path(question) %>
                  &emsp;
                  <%= link_to "Delete question", question_path(question), method: :delete%>
                  &emsp;
                  <%= link_to "Add a choice to question", new_question_choice_path(question) %>
                </p>


                <p>
                  <ul>
                  <% question.choices.each do |choice| %>
                    <li>
                      &emsp; <%= choice.content %>
                      &emsp; <%= choice.correct %>
                    </li>
                  <% end %>
                  </ul>
                </p>


              <% end %>
            <% else %>
              <% if lesson.questions.any? %>


                  <% if current_user && current_user.has_current_question?(lesson)%>
                    <% rand_q = current_user.fetch_current_question(lesson)  %>
                  <% else %>
                    <% rand_q = lesson.random_question(current_user) %>
                    <% if current_user %>
                      <% CurrentQuestion.create(user_id: current_user.id, lesson_id: lesson.id, question_id: rand_q.id)%>
                    <% end %>
                  <% end %>
                        <div class="question-div">
                          <p><strong>Question</strong></p>
                          <p><%= rand_q.question_text %></p>
                            <%= form_for rand_q, url: { controller: :questions, action: 'check_answer' }, method: :post do |f| %>
                            <input type='hidden' name='question_id' value=<%= rand_q.id %>>
                            <% rand_q.choices.each do |c| %>
                              <input type='radio' id="choice-<%= c.id %>" name='choice' value=<%= c.correct %>>
                              <%= c.content %>
                              <br>
                            <% end %>
                            <%= f.submit class: 'solution-link' %>
                            <div id="correct"></div>
                            <div id="solution-latex"></div>
                          <% end %>
                        </div>

              <% else %>
                <div class="question-div">
                  <div id="solution-latex">
                      No questions have been added to this lesson yet.
                  </div>
                </div>
              <% end %>



            <% end %>
            </div>
          <% end %>
      </div>
  <% end %>
<% end %>

























<%= link_to "Next question", next_question_path(lesson) %>






















<div class="question-div">
  <div class="question-div">
  <p><strong>Question</strong></p>
  <p>$$x^2-6x+15=0$$</p>
  <form class="edit_question" id="edit_question_3" action="/questions/1/check_answer" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="4MsFaZ3PgX8nCdOhzy+fUfuL0EoSNPjTUtZKIlWgbZmzgwVsmCBkGPB9wHzq/WkVXit/FYFamvZXJwgAADRjbA==" />
    <input type='hidden' name='question_id' value=3>
    <input type='radio' id="choice-5" name='choice' value=false>
    asdfadf
    <br>
    <input type='radio' id="choice-6" name='choice' value=true>
    correct choice
    <br>
    <input type="submit" name="commit" value="Update Question" class="solution-link" data-disable-with="Update Question" />
    <div id="correct"></div>
    <div id="solution-latex"></div>
  </form>
  <a class="next-question" href="/lessons/1/next_question">Next question</a>
  <div class="trythis"></div>
</div>


<form class="edit_question" id="edit_question_3" action="/questions/1/check_answer" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="Xr1XhxFTXj8fiS8BXv0fb/lky2ryhKYPzObcwjkzLdUN9VeCFLy7WMj9PNx7L+krXMRkNWHqxCrJF57gbKcjIA==" />
<form class="edit_question" id="edit_question_2" action="/questions/1/check_answer" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="T9guoM1rZ34JFfBv+qXWcJZggDjVVXxhxJ1iPKqrdvEckC6lyISCGd5h47LfdyA0M8AvZ0Y7HkTBbCAe/z94BA==" />
