<%= form_for(:answers, url: check_with_answer_question_path(rand_q)) do |f| %>
    <%= f.label rand_q.answers.keys.first.to_sym, rand_q.answers.keys.first %>
    <%= f.text_field rand_q.answers.keys.first.to_sym %>
    <%= f.submit "Submit Answers" %>
<% end %>


<% rand_q.answers.keys.each do |key| %>
  <%= f.label key.to_sym, key %>
  <%= f.text_field key.to_sym %>
  <span></span>
<% end %>




<div class="new-question-form">
  <%= form_for(:question, url: questions_path(@question)) do |f| %>
    <%= f.label :question_text %>
    <%= f.text_area :question_text %>
    <%= f.label :solution %>
    <%= f.text_area :solution %>
    <%= f.label :difficulty_level %>
    <%= f.text_area :difficulty_level %>
    <%= f.label :experience %>
    <%= f.text_area :experience %>
    <%= f.hidden_field :redirect, value: @referer %>
    <%= f.label :answers %>
    <%= f.text_area :answers %>
    <%= f.submit %>
  <% end %>
</div>


<% if rand_q.answers.keys.length > 0 %>
  <%= form_for(:answers, url: check_with_answer_question_path(rand_q)) do |f| %>
      <% rand_q.answers.each do |key,answer| %>
        <%= f.label key.to_sym, key %>
        <%= f.text_field key.to_sym %>
        <span><%= answer[1]%></span>
      <% end %>
      <%= f.submit "Submit Answers" %>
  <% end %>

<% else %>
        <%= form_for rand_q, url: { controller: :questions, action: 'check_answer' }, method: :post do |f| %>
            <input type='hidden' class="form-question-id" name='question_id' value=<%= rand_q.id %>>
            <input type='hidden' class="form-lesson-id" name='lesson_id' value=<%= lesson.id %>>
            <div class="answer-choices">
              <% choices = rand_q.choices.shuffle %>
              <% choices.each do |c| %>
                <input class="question-choice" type='radio' id="choice-<%= c.id %>" name='choice' value=<%= c.id %>>
                &emsp;<%= c.content %>
                <br>
              <% end %>
            </div>

            <%= f.submit "Submit answer", class: 'solution-link', id: "#{topic.id}-#{lesson.id}" %>
            <%= link_to "Next question", next_question_lesson_path(lesson),class: "next-question" %>
            <div id="correct" class="question-result"></div>
            <div class="solution-title"></div>
            <div class="solution-text"></div>
        <% end %>
<% end %>
