<div>
  <%= form_tag (get_student_path) do %>
    <%= label_tag 'email', 'Email' %>
    <%= text_field_tag 'email' %>
    <%= text_field_tag 'from_date', (Time.now - (7*24*60*60)).strftime('%Y-%m-%d'), type: :date %>
    <%= text_field_tag 'to_date', Time.now.strftime('%Y-%m-%d'), type: :date %>
    <%= submit_tag "Get Answered Questions"%>
  <% end %>
</div>

<div class="answered-questions">
  <% @answered_questions.each do |answered_question|%>

        <div class='question'>
          <h6>Question (<%= answered_question[0].experience %>)</h6>
          <p class="question-content">
            <%= answered_question[0].question_text%>
          </p>
          <h6>Solution</h6>
          <p class="question-solution-text">
            <%= answered_question[0].solution %>
          </p>
          <div class="student-answer">
            <strong>Submission: </strong>  &emsp;&emsp;<%= answered_question[3]%>
          </div>
          <div class='correct-result'>
            <% if answered_question[1] == "Answered correctly"%>
              <span style="color:green;"><%= answered_question[1] %></span>
            <% else %>
              <span style="color:red;"><%= answered_question[1] %></span>
            <% end %>
            <span style="padding-left:30px;"><%= answered_question[2].to_formatted_s(:long_ordinal)%></span>
          </div>
        </div>

  <% end %>
</div>
