
<div class="form-group">
  <h4>Topic Config (%)</h4></br>
  <%= form_tag settings_update_path, method: :patch do %>
    <%= label_tag :reward_mtp, 'Reward Multiplier' %>
    <%= number_field_tag :reward_mtp, @settings['reward_mtp'] %>
    <%= label_tag :lower_level %>
    <%= number_field_tag :lower_level, @settings['lower_level'] %>
    <%= label_tag :upper_level %>
    <%= number_field_tag :upper_level, @settings['upper_level'] %>
    <%= label_tag :lower_min %>
    <%= number_field_tag :lower_min, @settings['lower_min'] %>
    <%= label_tag :upper_min %>
    <%= number_field_tag :upper_min, @settings['upper_min'] %></br>
</div>
<br>
<div class="form-group settings-right">
  <h4>Hints Config</h4>

  <%= label_tag :hints %>
  <% @settings['hints'].each do |hint| %>
  <%= text_area_tag :hints,hint, name: 'hints[]' %>
  <% end %>
</div>
<div class="action">
  <%= submit_tag 'Save Settings' %>
</div>
<% end %>
