<div class="devise-custom">
  <div class="user-form">

    <ul class="users-link-group">
      <li class="tab" >
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li class="tab active">
        <%= link_to "Log in", new_session_path(resource_name) %>
      </li>
    </ul>

    <div class="tab-content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field-wrap">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field-wrap">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field-wrap">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'button button-block' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "users/shared/links" %>
