<%= form_tag question_choices_path(@question) do %>
  <% @choices.each do |choice| %>
        <%= fields_for "choices[][]", choice do |c| %>
          <div class="field">
            <%= c.label :content %><br>
            <%= c.text_area :content %>
          </div>
          <div class="field">
            <%= c.select :correct, options_for_select([['Mark as the right choice', true], ['Mark as a wrong choice', false]], false) %>
          </div>
        <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
