<%= form_tag question_choices_path(@question), class: "tag-form" do %>
  <% current_iteration = 0 %>
  <% @choices.each do |choice| %>
        <%= fields_for "choices[][]", choice do |c| %>
          <div class="choice-content">
            <%= c.label :content %><br>
            <%= c.text_area :content, onchange: "changeMe('choice_content_#{current_iteration}','choice-presenter-#{current_iteration}')", oninput: "this.onchange()", onpaste: "this.onechange()", id: "choice_content_#{current_iteration}" %>
            <%= c.hidden_field :redirect, value: @referer %>
            <div id="choice-presenter-<%= current_iteration %>">

            </div>
          </div>
          <div class="radio-right">
            <%= c.label :correct, 'Correct Choice' %>
            <%= c.radio_button :correct, 'true' %>
          </div>
        <% end %>
    <% current_iteration += 1 %>
  <% end %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
