<% if can? :edit, Job %>
  <div class="add-one">
      <%= link_to 'Add A Job', new_job_path %>
  </div>
<% end %>

<% if can? :read, Job%>
<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableCell" style="width: 50%;">Description &nbsp;</div>
    <div class="divTableCell">Duration &nbsp;</div>
    <div class="divTableCell">Price (GBP) &nbsp;</div>
    <div class="divTableCell">View Job&nbsp;</div>
    </div>
      <% @jobs.each do |job| %>
        <% next if job.status != nil %>
        <div class="divTableRow">
            <div class="divTableCell">
              <%= job.description %></br>
            </div>
            <div class="divTableCell">
              &emsp;
              <%= time_ago_in_words(Time.now + job.duration.days) unless job.duration.nil? %>
            </div>
            <div class="divTableCell">
              &emsp;
              <%= "£" + sprintf( "%0.02f", job.price) unless job.price.nil? %>
            </div>
            <div class="divTableCell">
              &emsp;
              <%= link_to "View job #{job.id}", job_path(job), class: "custom-btn" %>
            </div>
        </div>
      <% end %>
  </div>
</div>
<% end %>
