<% if can? :read, Job%>
<div class="job-heading">
  <h6> <%= @job.name %> </h6>
</div>

<div class="job-profile">
  <div class="job-profile-header">
    <div class="job-price">
      <%= "£" + sprintf( "%0.02f", @job.price) unless @job.price.nil? %>
    </div>
    <div class="job-duration assigned">
      <%= @job.due_date.strftime("Due on %m/%d/%Y at %I:%M%p")  %>
    </div>
    <% unless @job.worker_id != current_user.id %>
      <div class="job-accept">
        <%= link_to 'Cancel Job', assign_job_path(@job, type: 'cancel' ), data: { confirm: "Are you sure?" }, class: "job-accept-btn", method: :put%>
      </div>
    <% end %>
    <% if current_user.admin? || current_user.super_admin? %>
      <div class="job-accept">
        <%= link_to 'Unassign Job', assign_job_path(@job, type: 'cancel' ), data: { confirm: "Are you sure?" }, class: "job-accept-btn", method: :put%>
      </div>
    <% end %>
 </div>
 <!-- END OF JOB HEADER -->
 <div class="job-description">
   <%= @job.description %>
 </div>
 <!-- END OF JOB DESCRIPTION -->
 <button class="accordion">View Example Question</button>
 <div class="panel">
   <div class="job-example">
     <span class="example-headers">Example question:</span><br>
     <% unless @job_images.empty? %>
       <% @job_images.each do |image| %>
         <%= image_tag(image.picture.url(:large), class: "example-image", id: "image-#{@job.id}-#{image.id}") %>
       <% end %>
     <% end %>
     <% unless @job_example.nil? %>
       <%= @job_example.question_text %></br>
       <!-- END OF EXAMPLE QUESTION TEXT -->
       <div class="solution">
         <span class="example-headers">Solution:</span><br>
         <%= @job_example.solution %>
       </div>
       <!-- END OF EXAMPLE QUESTION SOLUTION -->
       <% if @job_example.choices.empty? %>
         <div class="solution answers">
           <span class="example-headers">Example answers:</span><br>
           <% answer_count = 1 %>
           <% @job_example.answers.order('created_at').each do |answer| %>
             <%= label_tag answer.label.to_sym, answer.label %>
             <%= text_field_tag answer.label.to_sym %>
             <%= answer.hint%><br>
             <% answer_count = answer_count + 1 %>
           <% end %>
         </div>
         <!-- END OF EXAMPLE ANSWERS -->
       <% else %>
         <div class="solution choices">
           <span class="example-headers">Example multiple choice answers</span><br>
           <% choices = @job_example.choices.shuffle %>
           <% choices.each do |c| %>
             <input class="question-choice" type='radio' id="choice-<%= c.id %>" name='choice' value=<%= c.id %>>
             &emsp;<%= c.content %> | Correct: <%= c.correct %>
             <% if c.images.length.nil? %>
               <%= image_tag c.images.first.picture.url(:medium), class: "choice-image" %>
             <% end %>
             <br>
           <% end %>
         </div>
         <!-- END OF EXAMPLE CHOICES -->
       <% end %>
     <% end %>
   </div>
 </div>
 <!-- END OF ACCORDION -->
 <div class="job-options">
   <%= link_to 'View Questions', questions_select_lesson_path(lesson_id: @job.unit.topics.first.lessons.first.id ), class: "job-accept-btn", method: :post %>
   <% if ready_to_test(@job.job_questions) %>
   <%= link_to 'Test', unit_path(@job.unit), class: "job-accept-btn"%>
   <% end %>
 </div>
 <% @job.job_questions.each do |question| %>
   <div class="job-question-panel">
     <span class="job-question-header">Question <%= question.id %></span>
     <% if !question.complete? %>
       <div class="amber">
         In Progress
       </div>
     <% else %>
       <div class="green">
         Complete
       </div>
     <% end %>
   </div>
 <% end %>
 <!-- END OF JOB QUESTIONS -->
</div>
<% end %>
