<% if can? :read, Job%>
<div class="job-heading">
  <h6> <%= @job.name %> </h6>
</div>

<div class="job-profile">
  <div class="job-profile-header">
    <div class="job-price">
      <%= "£" + sprintf( "%0.02f", @job.price) unless @job.price.nil? %>
    </div>
    <% if !@job.worker_id.nil? %>
      <div class="job-duration assigned">
        <%= (@job.updated_at + @job.duration.days).strftime("Due on %m/%d/%Y at %I:%M%p")  %>
      </div>
    <% end %>
 </div>
 <!-- END OF JOB HEADER -->
 <div class="job-description">
   <%= @job.description %>
 </div>
 <!-- END OF JOB DESCRIPTION -->
 <button class="accordion">View Example Question</button>
 <div class="panel">
   <div class="job-example">
     <span class="example-headers">Example question:</span><br>
     <%= @job_example.question_text %></br>
     <!-- END OF EXAMPLE QUESTION TEXT -->
     <div class="solution">
       <span class="example-headers">Solution:</span><br>
       <%= @job_example.solution %>
     </div>
     <!-- END OF EXAMPLE QUESTION SOLUTION -->
     <% if @job_example.choices.empty? %>
       <div class="solution answers">
         <span class="example-headers">Example answers:</span><br>
         <% answer_count = 1 %>
         <% @job_example.answers.order('created_at').each do |answer| %>
           <%= label_tag answer.label.to_sym, answer.label %>
           <%= text_field_tag answer.label.to_sym %>
           <%= answer.hint%><br>
           <% answer_count = answer_count + 1 %>
         <% end %>
       </div>
       <!-- END OF EXAMPLE ANSWERS -->
     <% else %>
       <div class="solution choices">
         <span class="example-headers">Example multiple choice answers</span><br>
         <% choices = @job_example.choices.shuffle %>
         <% choices.each do |c| %>
           <input class="question-choice" type='radio' id="choice-<%= c.id %>" name='choice' value=<%= c.id %>>
           &emsp;<%= c.content %> | Correct: <%= c.correct %>
           <% if c.images.length.nil? %>
             <%= image_tag c.images.first.picture.url(:medium), class: "choice-image" %>
           <% end %>
           <br>
         <% end %>
       </div>
       <!-- END OF EXAMPLE CHOICES -->
     <% end %>
   </div>
 </div>
 <!-- END OF ACCORDION -->
 <% @job.job_questions.each do |question| %>
   <div class="job-question-panel">
     <span class="job-question-header">Question <%= question.id %></span>
     <%= link_to 'Edit', question_job_path(question), class: 'job-accept-btn' %>
     <%= link_to 'Test', jobs_path, class: 'job-accept-btn' %>
   </div>
 <% end %>
 <!-- END OF JOB QUESTIONS -->
</div>
<% end %>
