<% if can? :create, Image %>
  <div class="catalogue-filter">
    <%= form_tag image_filter_path, html: { multipart: true } do %>
      <%= check_box_tag(name='show_tags',true,false,id:'show-tags-check')%>
      <span>Show Tags</span>
      <%= check_box_tag('show_crud',true,false,id:'show-crud-check')%>
      <span>Show Crud</span>
      &emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;
      <%= label_tag :filter_tags %>
      <%= text_field_tag :filter_tags,"", class: 'tag-input-box' %>
      <%= submit_tag 'Filter' %>
    <% end %>
  </div>
<% end %>

<% if !!@catalogue && !@catalogue.empty? %>
  <div class="catalogued-images">
    <% @catalogue.each do |image, tags| %>
      <div class="image-with-tags" >
        <h4><%= image.name %></h4>
        <%= image_tag image.picture.url(:large) %>
        <% if @show_crud %>
          <div class='crud-links'>
            &emsp;&emsp;&emsp;
            <%= link_to "Edit", edit_image_path(image)%>
            &emsp;
            <%= link_to "Delete", image_path(image), method: :delete%>
          </div>
        <% end %>
        <% if @show_tags %>
          <ul class="tags">
            <% tags.each do |tag| %>
              <li class="tag"> <%= tag.name %> </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
