<header class="container-header">
  <!-- START NAVIGATION -->
  <div class="container">
    <%= link_to image_tag('one_maths_small_logo.png', size: '212x32', alt: 'One Maths Logo'), root_path, class: 'site-logo', id: 'one_maths_logo' %>

    <div class="site-nav u-float-right">
      <ul class="site-nav-list">

        <% if current_user && current_user.has_role?(:super_admin, :admin)  %>
          <li class="site-nav_item  site-nav-dropdown">
            <%= link_to 'Questions', questions_path, class: "site-nav_link" %>
            <div class="site-nav-dropdown_container">
              <ul class="site-nav-dropdown_list">
                <li class="site-nav-dropdown_item">
                  <%= link_to 'Add Question', new_question_path %>
                </li>
              </ul>
            </div>
          </li>

          <li class="site-nav_item  site-nav-dropdown">
            <%= link_to 'Student Manager', student_manager_path, class: "site-nav_link" %>
            <div class="site-nav-dropdown_container">
              <ul class="site-nav-dropdown_list">
                <li class="site-nav-dropdown_item">
                  <%= link_to 'Student Questions', answered_questions_path %>
                </li>
              </ul>
            </div>
          </li>

          <li class="site-nav_item  site-nav-dropdown">
            <%= link_to 'Exam Questions', exam_questions_path, class: "site-nav_link" %>
            <div class="site-nav-dropdown_container">
              <ul class="site-nav-dropdown_list">
                <li class="site-nav-dropdown_item">
                  <%= link_to 'Add Exam Question', new_catalogue_path %>
                </li>
              </ul>
            </div>
          </li>
        <% end %>

        <% if can? :read, Job %>
          <li class="site-nav_item">
            <%= link_to 'Jobs', jobs_path, class: "site-nav_link" %>
          </li>
        <% end %>

        <% if user_signed_in? %>

          <% if !current_user.invitation.blank? %>
            <li class="site-nav_item">
              <%= link_to 'Pending Invitation', teachers_invitation_path, class: "site-nav_link" %>
            </li>
          <% end %>

          <% if !current_user.tickets.empty? || current_user.has_role?(:super_admin, :admin) %>
             <li class="site-nav_item"><%= link_to 'Tickets', tickets_path, class: "site-nav_link" %></li>
           <% end %>

           <% if current_user && current_user.has_role?(:super_admin, :admin) %>
             <li class="site-nav_item">
               <%= link_to "#{fetch_pending_jobs.count}", job_review_path, class: "site-nav_link" %>
             </li>
           <% end %>

           <!-- <li class="site-nav_item  site-nav-dropdown"> -->
             <!-- <%= link_to image_tag('user.png', size: '40x40', alt: 'User Icon', id: 'user-icon'), root_path, class: 'site-nav_link' %> -->
             <!-- <div class="site-nav-dropdown_container">
               <ul class="site-nav-dropdown_list">
                 <li class="site-nav-dropdown_item">
                   <%= link_to "Sign out", destroy_user_session_path, method: :delete, id: 'sign-out-link' %>
                 </li>
                 <% if current_user && current_user.has_role?(:super_admin, :admin) %>
                   <li class="site-nav_item">
                     <%= link_to 'Settings', settings_index_path %>
                   </li>
                 <% end %>
                 <li class="site-nav-dropdown_item">
                    <%= link_to "Edit Profile", edit_user_registration_path %>
                 </li>
               </ul>
             </div> -->
           <!-- </li> -->


        <% else %>
          <li class="site-nav_item">
            <%= link_to "Sign in", new_user_session_path, id: 'sign-in-link', class: "site-nav_link"%>
          </li>
          <li class="site-nav_item">
            <%= link_to "Sign up", new_user_registration_path, class: "site-nav_link" %>
          </li>
        <% end %>


      </ul>
    </div>
  </div>
<!-- END OF NAVIGATION -->
</header>
