<header>
  <a href="/" id="site-title" class='home-link'>
    <h2>OneMaths</h2>
  </a>
  <span class='beta-label'>beta</span>
  <ul class='nav'>
    <% if current_user and (current_user.super_admin? or current_user.admin?)  %>
      <li>
        <div class="dropdown">
          <%= link_to 'Questions', questions_path %>
        <div class="dropdown-content">
          <%= link_to 'Add Question', new_question_path %>
        </div>
      </li>
      <li><%= link_to 'Student Questions', answered_questions_path %></li>
      <li><%= link_to 'Student Manager', student_manager_path %></li>
      <li>
        <div class="dropdown">
          <%= link_to 'Exam Questions', exam_questions_path %>
        <div class="dropdown-content">
          <%= link_to 'Add Exam Question', new_catalogue_path %>
        </div>
      </li>

      </div>
    <% end %>
    <% if !current_user || (current_user && (!current_user.super_admin? && !current_user.admin?))  %>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'FAQ', faq_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    <% end %>
    <% if can? :read, Job %>
      <li><%= link_to 'Jobs', jobs_path %></li>
    <% end %>
    <% if !current_user.tickets.empty? || current_user.super_admin? || current_user.admin? %>
      <li><%= link_to 'Tickets', tickets_path %>
    <% end %>
    <% if user_signed_in? %>
      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
  <% if current_user && (current_user.super_admin? || current_user.admin?) %>
    <a href=<%= job_review_path %> ><div class='jobs-review' id="pending-review"><%= fetch_pending_jobs.count %></div></a>
  <% end %>
  <a href='#'><div class='avatar'></div></a>
</header>
