<header>
  <!-- START NAVIGATION -->
  <div class="nav-container <%= limit_width %>">
    <%= link_to image_tag('one_maths_small_logo.png', size: '212x32', alt: 'One Maths Logo'), courses_path, class: 'home-link', id: 'one_maths_logo' %>

    <% unless user_signed_in? && current_user.has_role?(:super_admin, :admin, :teacher) %>
      <span class='new-link'><%= link_to "Question Generators", 'http://www.onemathsquestions.com' %></span>
      <span class='new-indicator'>NEW</span>
    <% end %>

    <ul class='nav'>
      <% if current_user && current_user.has_role?(:super_admin, :admin, :teacher)  %>
        <li>
          <%= (link_to 'Control Panel', teachers_path) unless current_user.has_role?(:admin, :super_admin) %>
        </li>
        <li>
          <div class="dropdown">
            <%= link_to 'Questions', questions_path %>
            <div class="dropdown-content">
              <%= link_to 'Add Question', new_question_path %>
            </div>
          </div>
        </li>
        <li>
        <div class="dropdown">
          <%= link_to 'Student Manager', student_manager_path %>
          <div class="dropdown-content">
            <%= link_to 'Student Questions', answered_questions_path %>
          </div>
        </div>
        </li>
        <li>
          <div class="dropdown">
            <%= link_to 'Exam Questions', exam_questions_path %>
            <div class="dropdown-content">
              <%= link_to 'Add Exam Question', new_catalogue_path %>
            </div>
          </div>
          </li>

        <% end %>
        <% if can? :read, Job %>
        <li><%= link_to 'Jobs', jobs_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to('Pending Invitation', teachers_invitation_path) unless current_user.invitation.blank? %></li>
          <% if !current_user.tickets.empty? || current_user.has_role?(:super_admin, :admin) %>
            <li><%= link_to 'Tickets', tickets_path %></li>
          <% end %>
          <li>
            <% if current_user && current_user.has_role?(:super_admin, :admin) %>
              <a href=<%= job_review_path %> id="pending-review"><div class='jobs-review' ><%= fetch_pending_jobs.count %></div></a>
            <% end %>
          </li>
          <li class="user-nav dropdown">
            <!-- <div> -->
              <%= link_to image_tag('user.png', size: '50x50', alt: 'User Icon', id: 'user-icon'), root_path, class: 'avatar' %>
              <div id='user-menu' class="dropdown-content">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, id: 'sign-out-link' %>
                <%= link_to 'Settings', settings_index_path unless !current_user.has_role?(:admin, :super_admin) %>
                <%= link_to "Edit Profile", edit_user_registration_path %>
              </div>
            <!-- </div> -->
          </li>
          <% else %>
          <li><%= link_to "Sign in", new_user_session_path, id: 'sign-in-link' %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
      <!-- END OF NAVIGATION -->
    </header>
