<a class='lesson-collapsable' id="lesson-collapsable-<%= lesson.id %>" href="#">
    <div class='lesson-headings'>
      <div class='lesson-number'>
        Lesson <%= lesson_count%>
      </div>
      <div class='lesson-name'>
        <%= lesson.name %>
      </div>
      <div class='lesson-progress-exp'>
        Exp: &emsp; <span class="current-lesson-exp" id="lesson-<%= lesson.id %>-exp" ><%= StudentLessonExp.current_exp(current_user,lesson)%></span>/<%= lesson.pass_experience %> &emsp; Pass
      </div>
    </div>
</a>

<% if (can? :edit, lesson) && session[:admin_view] %>
  <div class='lesson-crud-links'>
    &emsp;&emsp;&emsp;
    <%= link_to "Edit lesson", edit_lesson_path(lesson) %>
    &emsp;
    <% if current_user && current_user.super_admin? %>
      <%= link_to "Delete lesson", lesson_path(lesson), method: :delete%>
    <% end %>
    &emsp;
    <%= link_to "Add questions", new_question_lesson_path(lesson) %>
    <span style="padding-left:50px;">ID: <%= lesson.id %></span>
    <span style="padding-left:30px;">RecExp: <%= lesson.recommend_pass_exp %></span>
    <span style="padding-left:20px;">Order: <%= lesson.sort_order %></span>
    <span style="padding:0 15px 0 20px;">Status: <%= lesson.status %></span>
    <%= link_to lesson_button(lesson), lesson_path(lesson, status: lesson_button(lesson)), class: 'custom-btn',  method: :put %>
  </div>
<% end %>
