<a class='lesson-collapsable' id="lesson-collapsable-<%= lesson.id %>" href="#">
    <div class='lesson-headings'>
      <div class='lesson-number'>
        Lesson <%= lesson_count%>
      </div>
      <div class='lesson-name'>
        <%= lesson.name %>
      </div>
      <div class='lesson-progress-exp'>
        Exp: &emsp; <span class="current-lesson-exp" id="lesson-<%= lesson.id %>-exp" ><%= StudentLessonExp.current_exp(current_user,lesson)%></span>/<%= lesson.pass_experience %> &emsp; Pass
      </div>
    </div>
</a>

<% if can? :edit, lesson %>
  <div class='lesson-crud-links'>
    &emsp;&emsp;&emsp;
    <%= link_to "Edit lesson", edit_lesson_path(lesson) %>
    &emsp;
    <% if current_user && current_user.super_admin? %>
      <%= link_to "Delete lesson", lesson_path(lesson), method: :delete%>
    <% end %>  
    &emsp;
    <%= link_to "Add questions to lesson", new_question_lesson_path(lesson) %>
    <span style="padding-left:50px;">Lesson ID: <%= lesson.id %></span>
    <span style="padding-left:30px;">Recommended: <%= lesson.recommend_pass_exp %></span>
    <span style="padding-left:20px;">Sort order: <%= lesson.sort_order %></span>
  </div>
<% end %>
