<a class='lesson-collapsable' id="lesson-collapsable-<%= lesson.id %>" href="#">
    <div class='lesson-headings'>
      <div class='lesson-number'>
        Lesson <%= lesson_count%>
      </div>
      <div class='lesson-name'>
        <%= lesson.name %>
      </div>
      <div class='lesson-progress-exp'>

        <div class="exp-bar-lesson">
          <p class="xp">Exp: &emsp;</p>
          <div class="topic-bar" id="lesson-bar-<%= lesson.id %>" style="width: <%= lesson_bar_exp(lesson) %>%;" ></div>
          <div class="bar-text-lesson">
            <span class="current-lesson-exp" id="lesson-<%= lesson.id %>-exp" >
              <%= StudentLessonExp.current_exp(current_user,lesson) %>
            </span>
            /
            <span id="lesson-pass-<%= lesson.id %>-exp" >
              <%= lesson.pass_experience %>
            </span>
          </div>
          <p class="lvl">&emsp; Pass</p>
        </div>
      </div>
    </div>
</a>

<% if (can? :edit, lesson) && session[:admin_view] %>
  <div class='lesson-crud-links'>
    &emsp;&emsp;&emsp;
    <%= link_to "Edit lesson", edit_lesson_path(lesson) %>
    &emsp;
    <% if current_user && current_user.super_admin? %>
      <%= link_to "Delete lesson", lesson_path(lesson), method: :delete%>
    <% end %>
    &emsp;
    <%= link_to "Add questions", new_question_lesson_path(lesson) %>
    <span style="padding-left:50px;">ID: <%= lesson.id %></span>
    <span style="padding-left:30px;">RecExp: <%= lesson.recommend_pass_exp %></span>
    <span style="padding-left:20px;">Order: <%= lesson.sort_order %></span>
    <span style="padding:0 15px 0 20px;">Status: <%= lesson.status %></span>
    <%= lesson_button(lesson) %>
  </div>
<% end %>
