<% if lesson.questions.any? %>
  <% if current_user && current_user.has_current_question?(lesson)%>
    <% rand_q = current_user.fetch_current_question(lesson)  %>
  <% else %>
    <% rand_q = lesson.random_question(current_user) %>
    <% if !rand_q.blank? %>
      <% current_question_inputs = {user_id: current_user.id, lesson_id: lesson.id, question_id: rand_q.id} %>
      <% CurrentQuestion.create(current_question_inputs)%>
    <% end %>
  <% end %>
  <% if !rand_q.blank? %>
    <div class="question-container">
      <% unless !current_user.tester? || session[:admin_view] %>
        <div class="tester-crud">
          <%= link_to 'View Question', question_path(rand_q), class: 'tester-view-link', id: "view-flag-#{rand_q.id}" %>
          <%= link_to 'Reset Question', answered_question_path(question_id: rand_q), class: 'tester-reset-link', id: "reset-question-#{rand_q.id}", method: :delete %>
          <%= link_to 'Flag Question', flag_question_path(rand_q), class: 'tester-flag-link', id: "flag-question-#{rand_q.id}",  method: :post %>
        </div>
      <% end %>
      <%= link_to (fa_icon "bug", text: 'Report this question'), new_ticket_path(question_id: rand_q.id, streak_mtp: StudentLessonExp.get_streak_bonus(current_user, lesson)), class: 'btn-report', id: "bug-report-q#{rand_q.id}" %>
      <p class='question-header'>
        Question &emsp; (<span class="question-exp"><%= rand_q.experience %></span> xp +
        <span class='streak-mtp'><%= (rand_q.experience * StudentLessonExp.get_streak_bonus(current_user, lesson)).to_i %></span><span class='streak-mtp-text'> xp streak bonus </span>)
      </p>
      <p class='question-image'>
      <% unless rand_q.question_images.empty? %>
        <% rand_q.question_images.each do |image| %>
            <%= image_tag image.picture.url(:medium), id: "image-#{rand_q.id}-#{image.id}" %>
        <% end %>
      <% end %>
      </p>
      <% unless rand_q.question_text.nil? %>
        <p class='question-text'><%= rand_q.question_text %></p>
      <% end %>
      <% url_string = "/questions/" + rand_q.id.to_s + "/" + "check_answer"%>
      <%= form_for(:answers, url: check_answer_question_path(rand_q), html: { id: 'question-form' }) do |f| %>
          <input type='hidden' class="form-question-id" name='question_id' value=<%= rand_q.id %>>
          <input type='hidden' class="form-lesson-id" name='lesson_id' value=<%= lesson.id %>>
          <div class="answer-choices">
            <% choices = rand_q.choices.shuffle %>
            <% choices.each do |c| %>
              <%= radio_button_tag :choice, c.id, false, {id: "choice-#{c.id}", class: 'question-choice'} %>
              <%= label_tag "choice-#{c.id}".to_sym, choice_label(c) %>
              <br>
            <% end %>
          </div>
          <div class="answer-answers">
            <% answer_count = 1 %>
            <% rand_q.answers.order(:order).each do |answer| %>
              <%= f.label answer.label.to_sym, answer.label, class: "answer-label-#{answer_count} answer-label-style" %>
              <%= f.text_field answer.label.to_sym, class: "student-answer-#{answer_count}" %>
              <span class="answer-hint"><%= print_hint(answer.hint) %></span><br>
              <% answer_count = answer_count + 1 %>
            <% end %>
          </div>
          <%= f.submit "Submit Answers", class: 'solution-link', id: "#{topic.id}-#{lesson.id}" %>
          <%= link_to "Next question", next_question_lesson_path(lesson), class: "next-question" %>
          <div id="correct" class="question-result"></div>
          <div class="solution-title"></div>
          <div class="solution-text"></div>
      <% end %>
    </div>
  <% else %>
    <div class="question-container">
      <div class="request-more-questions">
        Well done! You have attempted all the questions available, contact us to ask for more!
      </div>
    </div>
  <% end %>
<% else %>
  <div class="question-container">
    <div id="solution-latex">
        No questions have been added to this yet.
    </div>
  </div>
<% end %>
