<a class='lesson-collapsable' href="#">
  <div class='topic-questions-headings'>
    <div class='lesson-name'>
      Chapter Questions
    </div>
    <div class='progress-exp'>
      Exp: &emsp;
      <span class="topic-exp" id="end-topic-<%= topic.id%>-exp">
        <%= StudentTopicExp.current_level_exp(current_user,topic)%>
      </span>
      /
      <span class="next-level-exp" id="end-topic-<%= topic.id%>-next-level-exp">
        <%= StudentTopicExp.next_level_exp(current_user,topic)%>
      </span>
      &emsp; Lvl
      <span class="next-level" id="end-topic-<%= topic.id%>-next-level">
        <%= StudentTopicExp.current_level(current_user,topic) + 1 %>
      </span>
    </div>
  </div>
</a>
