<div class='chapter-container' data-toggle="show" >
  <% lesson_count = 1%>
  <% topic.lessons.order('sort_order').each do |lesson| %>
    <% next if !visible?(lesson) && current_user.student? %>

    <%= render partial: 'shared/lesson_card', locals: {lesson: lesson, lesson_count: lesson_count} %>

    <div class="lesson-div">
      <% if session[:admin_view] %>
        <%= render partial: 'shared/admin_lesson_details', locals: {lesson: lesson} %>
      <% else %>
        <%= render partial: 'shared/lesson_video', locals: {lesson: lesson} %>
        <%= render partial: 'shared/student_lesson_details', locals: {lesson: lesson, current_user: current_user, topic: topic} %>
      <% end %>
    </div>

    <%lesson_count = lesson_count + 1%>

  <% end %>

  <%= render partial: 'shared/topic_questions_card', locals: {current_user: current_user, topic: topic} %>

  <div class="lesson-div">
    <% if current_user.student? || current_user.question_writer? || !session[:admin_view] %>
      <%= render partial: 'shared/student_topic_question_details', locals: {current_user: current_user, topic: topic} %>
    <% end %>
  </div>

</div>
