<div class='chapter-container' data-toggle="show" >
  <% lesson_count = 1%>
  <% topic.lessons.order('sort_order').each do |lesson| %>

    <%= render partial: 'shared/lesson_card', locals: {lesson: lesson, lesson_count: lesson_count} %>

    <div class="lesson-div">
      <%= render partial: 'shared/lesson_video', locals: {lesson: lesson} %>
      <% if current_user == nil %>
            <h1>You must be signed in to see content</h1>
      <% elsif (current_user.admin? || current_user.super_admin?) %>
            <%= render partial: 'shared/admin_lesson_details', locals: {lesson: lesson} %>
      <% elsif current_user.student? %>
            <%= render partial: 'shared/student_lesson_details', locals: {lesson: lesson, current_user: current_user, topic: topic} %>
      <% end %>
    </div>

    <%lesson_count = lesson_count + 1%>

  <% end %>

  <a class='lesson-collapsable' href="#">
    <div class='topic-questions-headings'>
      <div class='lesson-name'>
        Chapter Questions
      </div>
      <div class='progress-exp'>
        Exp: &emsp;
        <span class="topic-exp" id="end-topic-<%= topic.id%>-exp">
          <%= StudentTopicExp.current_level_exp(current_user,topic)%>
        </span>
        /
        <span class="next-level-exp" id="end-topic-<%= topic.id%>-next-level-exp">
          <%= StudentTopicExp.next_level_exp(current_user,topic)%>
        </span>
        &emsp; Lvl
        <span class="next-level" id="end-topic-<%= topic.id%>-next-level">
          <%= StudentTopicExp.current_level(current_user,topic) + 1 %>
        </span>
      </div>
    </div>
  </a>

  <div class="lesson-div">
    <% if !!current_user && current_user.student? %>


      <% if topic.questions.any? %>
          <% if current_user && current_user.has_current_topic_question?(topic)%>
            <% rand_q = current_user.fetch_current_topic_question(topic)  %>
          <% else %>
            <% rand_q = topic.random_question(current_user) %>
            <% if !!rand_q %>
              <% CurrentTopicQuestion.create(user_id: current_user.id, topic_id: topic.id, question_id: rand_q.id)%>
            <% end %>
          <% end %>
            <% if !!rand_q %>
                  <div class="question-container">
                    <p class='question-header'>
                      Question &emsp; (<span class="question-exp"><%= rand_q.experience %></span> xp +
                      <span class='streak-mtp'><%= (rand_q.experience * StudentTopicExp.get_streak_bonus(current_user, topic)).to_i %></span><span class='streak-mtp-text'> xp streak bonus </span>)
                    </p>
                    <p class='question-text'><%= rand_q.question_text %></p>

                    <%= form_for(:answers, url: check_topic_answer_question_path(rand_q)) do |f| %>
                        <input type='hidden' class="form-question-id" name='question_id' value=<%= rand_q.id %>>
                        <input type='hidden' class="form-topic-id" name='topic_id' value=<%= topic.id %>>
                        <div class="answer-choices">
                          <% choices = rand_q.choices.shuffle %>
                          <% choices.each do |c| %>
                            <input class="question-choice" type='radio' id="choice-<%= c.id %>" name='choice' value=<%= c.id %>>
                            &emsp;<%= c.content %>
                            <br>
                          <% end %>
                        </div>
                        <div class="answer-answers">
                          <% answer_count = 1 %>
                          <% rand_q.answers.each do |answer| %>
                            <%= f.label answer.label.to_sym, answer.label, class: "answer-label-#{answer_count} answer-label-style" %>
                            <%= f.text_field answer.label.to_sym, class: "student-answer-#{answer_count}" %>
                            <span class="answer-hint"><%= answer.hint%></span><br>
                            <% answer_count = answer_count + 1 %>
                          <% end %>
                        </div>
                        <%= f.submit "Submit Answers", class: 'topic-solution-link', id: "#{topic.id}" %>
                        <%= link_to "Next question", next_question_topic_path(topic), class: "topic-next-question" %>
                        <div id="correct" class="question-result"></div>
                        <div class="solution-title"></div>
                        <div class="solution-text"></div>
                    <% end %>

                  </div>
            <% else %>
                  <div class="question-container">
                    <div class="request-more-questions">
                      Well done! You have attempted all the questions available for this lesson, contact us to ask for more!
                    </div>
                  </div>
            <% end %>


      <% else %>
                <div class="question-container">
                  <div id="solution-latex">
                      No questions have been added to this topic yet.
                  </div>
                </div>
      <% end %>


    <% end %>
  </div>


</div>
