<a class='chapter-collapsable' href="#" id="chapter-collapsable-<%= topic.id %>">

    <%= render partial: 'shared/topic_progress_bar', locals: {topic: topic, current_user: current_user, topic_count: topic_count} %>

    <% if ((can? :edit, topic) && session[:admin_view]) || ((can? :edit, topic) && current_user.has_role?(:teacher)) %>
      <div class='crud-links'>
        &emsp;
        <%= link_to "Edit chapter", edit_topic_path(topic) %>
        &emsp;
        <%= link_to "Edit chapter", edit_topic_path(topic) %>
        &emsp;
        <% if current_user && current_user.has_role?(:super_admin) %>
          <%= link_to "Delete chapter", topic_path(topic), method: :delete%>
        <% end %>
        &emsp;
        <%= link_to "Add a lesson to chapter", new_topic_lesson_path(topic) %>
        &emsp;
        <%= link_to "Add questions to Chapter", new_question_topic_path(topic) %>
        <span style="padding-left:200px;">Sort order: <%= topic.sort_order %></span>
      </div>
    <% end %>
</a>
