<!-- started id wrap  -->

<div id="wrap">

  <!--starts logo div -->

  <div class="logo">
    <div class="container"> <a href="/"><%= image_tag 'one_maths_small_logo.png', size: '300x45', alt: 'OneMaths Logo' %></a> </div>
    <div class="clear"></div>
  </div>

  <!--ended logo div -->

  <div class="clear"></div>

  <!-- starts counter -->

  <div class="spacecounter">
    <div class="container">
      <h1>Stay tuned we're launching soon.</h1>
      <div class="spacenotify mid">
        <p>A* in the making. We`ll be
          launching soon, subscribe to be notified.</p>
          <div class="field">
         <div id="result"></div>
           <div class="form">
           <form action="https://onemaths.createsend.com/t/d/s/xtklld/" method="post" id="subForm">
            <div class="field">
              <input type="email" placeholder="E-mail Address" name="cm-xtklld-xtklld" id="EMAIL" required/>
              <input type="submit" value="NOTIFY ME" class="yellow" />
            </div>
          </form>
          </div>
      </div>
     </div>
     <div class="clear"></div>
     <div class="spacesocial">
       <ul>
         <li><%= fa_icon('graduation-cap', class: 'fa-icons') %><%= link_to 'Live Beta', courses_path %></li>
         <li><%= fa_icon('file', class: 'fa-icons') %><%= link_to 'Question Generators', 'http://www.onemathsquestions.com' %></li>
       </ul>
     </div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- end counter -->
  <div class="clear"></div>

  <!-- start footer -->

  <div class="spacefooter">
    <div class="container">
      <p>Copyrights © 2017 One Maths - All Rights Reserved.</p>
    </div>
    <div class="clear"></div>
  </div>

  <!--end footer -->

</div>
