<!-- <div class="preloader">
	<div class="sk-cube-grid">
		  <div class="sk-cube sk-cube1"></div>
		  <div class="sk-cube sk-cube2"></div>
		  <div class="sk-cube sk-cube3"></div>
		  <div class="sk-cube sk-cube4"></div>
		  <div class="sk-cube sk-cube5"></div>
		  <div class="sk-cube sk-cube6"></div>
		  <div class="sk-cube sk-cube7"></div>
		  <div class="sk-cube sk-cube8"></div>
		  <div class="sk-cube sk-cube9"></div>
	</div>
</div> -->
<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="wrapper clearfix">

<header id="navbar-spy" class="header-onepage">
	<nav id="primary-menu" class="navbar navbar-fixed-top style-1 affix-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="logo" href="index.html">
					<%= image_tag 'one_maths_small_logo.png', size: '200x30', alt: 'OneMaths Logo' %>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li class="active">
						<a data-scroll="scrollTo" href="#hero">home</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#how-we-work">why us</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#media5">Video</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#testimonials6">testimonials</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#cta1">Sign Up</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</header>

<!-- Hero #4
============================================= -->
<section id="hero" class="hero hero-5 bg-overlay bg-overlay-dark">
	<div class="bg-section">
		<%= image_tag 'interact/hero/hero-5.jpg', alt: 'Background' %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="hero-content">
				<!-- <h1>Interact</h1> -->
				<p>Master A-level Maths and get an A*.</p>
				<div class="form-action">
					<form>
						<input type="text" class="form-control" id="your-address" name="email" placeholder="Your email address*">
					  <button type="submit" class="btn btn-primary">Start For Free</button>
					</form>
				</div>
				<div class="credit">Get 30 days free trial now, No credit card required!</div>
				</div>
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
	<div class="hero-next">
		<a data-scroll="scrollTo" href="#tab1"><i class="lnr lnr-chevron-down"></i></a>
	</div>
</section><!-- #hero end -->

<!-- Tab#1
============================================= -->
<!-- Timeline#1
============================================= -->
<section id="how-we-work" class="timeline timeline-1 bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="heading text-center">
					<h2>How it Works</h2>
					<p>Lorem ipsum dolor amet, consectetur adipisicing elite,sede eiusmod tempor incididunt labore.</p>
				</div>
			</div>
			<!-- .col-md-6 end -->
		</div>
		<!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="timeline-tab">

					<!-- Tab panes -->
					<div class="container-fluid">
						<div role="tabpanel" class="tab-pane fade in active" id="day1">
							<div class="timeline-content">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-6">
											<div class="timeline-panel">
												<div class="event">Learn</div>
												<div class="description">Lorem ipsum dolor sit amet, has ea populo vocibus. Oblique euismod aliquando nec ex, duo mollis contentiones ne. Vis errem feugiat accumsan ex, dolor alterum habemus ea cum.</div>
											</div>
										</div>
										<div class="col-xs-offset-6">
											<div class="timeline-panel">
												<div class="event-right">
													<%= image_tag 'dummy-img.png', size: '192x128', alt: 'learning'  %>
												</div>
											</div>
										</div>
									</div>
									<!-- .row end -->
									<div class="row">
										<div class="col-xs-6">
											<div class="timeline-panel">
												<div class="event">
													<%= image_tag 'dummy-img.png', size: '192x128', alt: 'learning' %>
												</div>
											</div>
										</div>
										<div class="col-xs-offset-6">
											<div class="timeline-panel">
												<div class="event-right">Practice</div>
												<div class="description right">Lorem ipsum dolor sit amet, has ea populo vocibus. Oblique euismod aliquando nec ex, duo mollis contentiones ne. Vis errem feugiat accumsan ex, dolor alterum habemus ea cum.</div>
											</div>
										</div>
									</div>
									<!-- .row end -->
									<div class="row">
										<div class="col-xs-6">
											<div class="timeline-panel">
												<div class="event">Adapts to you</div>
												<div class="description">Lorem ipsum dolor sit amet, has ea populo vocibus. Oblique euismod aliquando nec ex, duo mollis contentiones ne. Vis errem feugiat accumsan ex, dolor alterum habemus ea cum.</div>
											</div>
										</div>
										<div class="col-xs-offset-6">
											<div class="timeline-panel">
												<div class="event-right">
													<%= image_tag 'dummy-img.png', size: '192x128', alt: 'learning'  %>
												</div>
											</div>
										</div>
									</div>
									<!-- .row end -->
									<div class="row">
										<div class="col-xs-6">
											<div class="timeline-panel">
												<div class="event">
													<%= image_tag 'dummy-img.png', size: '192x128', alt: 'learning' %>
												</div>
											</div>
										</div>
										<div class="col-xs-offset-6">
											<div class="timeline-panel">
												<div class="event-right">Level-up</div>
												<div class="description right">Lorem ipsum dolor sit amet, has ea populo vocibus. Oblique euismod aliquando nec ex, duo mollis contentiones ne. Vis errem feugiat accumsan ex, dolor alterum habemus ea cum.</div>
											</div>
										</div>
									</div>
									<!-- .row end -->
									<div class="row">
										<div class="col-xs-6">
											<div class="timeline-panel">
												<div class="event">Exam Preparations</div>
												<div class="description">Lorem ipsum dolor sit amet, has ea populo vocibus. Oblique euismod aliquando nec ex, duo mollis contentiones ne. Vis errem feugiat accumsan ex, dolor alterum habemus ea cum.</div>
											</div>
										</div>
										<div class="col-xs-offset-6">
											<div class="timeline-panel">
												<div class="event-right">
													<%= image_tag 'dummy-img.png', size: '192x128', alt: 'learning'  %>
												</div>
											</div>
										</div>
									</div>
									<!-- .row end -->
									<div class="row">
										<div class="col-xs-6">
											<div class="timeline-panel">
												<div class="event">
													<%= image_tag 'dummy-img.png', size: '192x128', alt: 'learning' %>
												</div>
											</div>
										</div>
										<div class="col-xs-offset-6">
											<div class="timeline-panel">
												<div class="event-right">A-A*</div>
												<div class="description right">Lorem ipsum dolor sit amet, has ea populo vocibus. Oblique euismod aliquando nec ex, duo mollis contentiones ne. Vis errem feugiat accumsan ex, dolor alterum habemus ea cum.</div>
											</div>
										</div>
									</div>
									<!-- .row end -->
								</div>
							</div>
							<!-- .timeline-content end -->
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- .col-md-6 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #timeline1 end -->
<hr class="mt-0 mb-0">
<!-- Featured#1
============================================= -->
<section id="featured1" class="featured featured-1">
	<div class="container">
		<div class="row">
			<!-- Featured Panel #1 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="featured-panel">
					<div class="featured-icon">
						<i class="lnr lnr-laptop-phone"></i>
					</div>
					<div class="featured-content">
						<h3>Mobile First</h3>
						<p>Duis sed odio sit amet nibh vuutate cursus a sit amet mauris morbi accumsan ipsum velit nam nec tellus viele a odio.</p>
					</div>
				</div>
			</div><!-- .col-md-4 end -->

			<!-- Featured Panel #2 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="featured-panel">
					<div class="featured-icon">
						<i class="lnr lnr-sync"></i>
					</div>
					<div class="featured-content">
						<h3>Up To Date</h3>
						<p>Duis sed odio sit amet nibh vuutate cursus a sit amet mauris morbi accumsan ipsum velit nam nec tellus viele a odio.</p>
					</div>
				</div>
			</div><!-- .col-md-4 end -->

			<!-- Featured Panel #3 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="featured-panel">
					<div class="featured-icon">
						<i class="lnr lnr-cloud-check"></i>
					</div>
					<div class="featured-content">
						<h3>Cloud Data</h3>
						<p>Duis sed odio sit amet nibh vuutate cursus a sit amet mauris morbi accumsan ipsum velit nam nec tellus viele a odio.</p>
					</div>
				</div>
			</div><!-- .col-md-4 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #featured1 end -->

<!-- Media#5
============================================= -->
<section id="media5" class="media media-4 media-5 text-center bg-overlay bg-overlay-dark">
	<div class="bg-section" >
		<%= image_tag 'interact/background/bg-8.jpg', alt: 'Background' %>
		<!-- <img src="assets/images/background/bg-8.jpg" alt="Background"/> -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

				 <h3>Watch a Demo</h3>
				 <p>Lorem ipsum dolor amet, consectetur adipisicing elite,<br>sede eiusmod tempor incididunt labore.</p>
				 <a class="popup-video" href="https://www.youtube.com/watch?v=6NC_ODHu5jg"><i class="fa fa-play"></i></a>
			</div><!-- .col-md-8 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #media5 end -->

<!-- Testimonials#6
============================================= -->
<section id="testimonials6" class="testimonials testimonials-6">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="row">
					<div id="testimonial-slider" data-slider-id="2">
						<!-- Testimonial #1 -->
						<div class="testimonial-panel col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
							<div class="testimonial-body">
								<div class="testimonial-icon"><i class="fa fa-quote-left"></i></div>
								<div class="testimonial-content">
									<p>“ Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non mauris vitae erat.”</p>
								</div>
								<div class="testimonial-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<!-- .testimonial-body end -->
						</div>
						<!-- .testimonial-panel end -->

						<!-- Testimonial #2 -->
						<div class="testimonial-panel col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
							<div class="testimonial-body">
								<div class="testimonial-icon"><i class="fa fa-quote-left"></i></div>
								<div class="testimonial-content">
									<p>“ Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non mauris vitae erat.”</p>
								</div>
								<div class="testimonial-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<!-- .testimonial-body end -->
						</div>
						<!-- .testimonial-panel end -->

						<!-- Testimonial #3 -->
						<div class="testimonial-panel col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
							<div class="testimonial-body">
								<div class="testimonial-icon"><i class="fa fa-quote-left"></i></div>
								<div class="testimonial-content">
									<p>“ Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non mauris vitae erat.”</p>
								</div>
								<div class="testimonial-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<!-- .testimonial-body end -->
						</div>
						<!-- .testimonial-panel end -->

						<!-- Testimonial #5 -->
						<div class="testimonial-panel col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
							<div class="testimonial-body">
								<div class="testimonial-icon"><i class="fa fa-quote-left"></i></div>
								<div class="testimonial-content">
									<p>“ Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non mauris vitae erat.”</p>
								</div>
								<div class="testimonial-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<!-- .testimonial-body end -->
						</div>
						<!-- .testimonial-panel end -->


						<!-- Testimonial #5 -->
						<div class="testimonial-panel col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
							<div class="testimonial-body">
								<div class="testimonial-icon"><i class="fa fa-quote-left"></i></div>
								<div class="testimonial-content">
									<p>“ Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non mauris vitae erat.”</p>
								</div>
								<div class="testimonial-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<!-- .testimonial-body end -->
						</div>
						<!-- .testimonial-panel end -->

					</div>
					<!-- #testimonial-carousel end -->
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="owl-thumbs" data-slider-id="2">
							<button class="owl-thumb-item testimonial-thumb">
							<%= image_tag 'user.png', alt: 'author image' %>
							<div class="testimonial-meta">
								<h4>Gene Stevens</h4>
								<p>Art Director</p>
							</div>
							</button>
							<button class="owl-thumb-item testimonial-thumb">
							<%= image_tag 'user.png', alt: 'author image' %>
							<div class="testimonial-meta">
								<h4>Maya Henry</h4>
								<p>Web Designer</p>
							</div>
							</button>
							<button class="owl-thumb-item testimonial-thumb">
							<%= image_tag 'user.png', alt: 'author image' %>
							<div class="testimonial-meta">
								<h4>Andrew Smith</h4>
								<p>Web Developer</p>
							</div>
							</button>

							<button class="owl-thumb-item testimonial-thumb">
							<%= image_tag 'user.png', alt: 'author image' %>
							<div class="testimonial-meta">
								<h4>Henry clark</h4>
								<p>Web Designer</p>
							</div>
							</button>

							<button class="owl-thumb-item testimonial-thumb">
							<%= image_tag 'user.png', alt: 'author image' %>
							<div class="testimonial-meta">
								<h4>Andrew Smith</h4>
								<p>Seo Specialist</p>
							</div>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #testimonials6 end -->

<!-- CTA#1
============================================= -->
<section id="cta1" class="cta-1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="heading text-center">
					<h2>Register Now for 30 days Free Trial</h2>
				</div>
			</div><!-- .col-md-6 end -->
		</div><!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="action-form">
					<form class="form-inline" action="/users/sign_up" method="get">
						<input type="text" id="name" class="form-control" name="user[first_name]" placeholder="Your first name*" required />
						<input type="email" id="email" class="form-control" name="user[email]" placeholder="Your Email Address*" required/>
						<button class="btn btn-primary" type="submit">Register Now</button>
					</form>
				</div>
			</div><!-- .col-md-6 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #cta1 end -->
 </div><!-- #wrapper end -->
