<!-- <div class="preloader">
	<div class="sk-cube-grid">
		  <div class="sk-cube sk-cube1"></div>
		  <div class="sk-cube sk-cube2"></div>
		  <div class="sk-cube sk-cube3"></div>
		  <div class="sk-cube sk-cube4"></div>
		  <div class="sk-cube sk-cube5"></div>
		  <div class="sk-cube sk-cube6"></div>
		  <div class="sk-cube sk-cube7"></div>
		  <div class="sk-cube sk-cube8"></div>
		  <div class="sk-cube sk-cube9"></div>
	</div>
</div> -->
<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="wrapper clearfix">

<header id="navbar-spy" class="header-onepage">
	<nav id="primary-menu" class="navbar navbar-fixed-top style-1 affix-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="logo" href="index.html">
					<%= image_tag 'one_maths_small_logo.png', size: '200x30', alt: 'OneMaths Logo' %>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li class="active">
						<a data-scroll="scrollTo" href="#hero">home</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#tab1">why us</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#media5">Video</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#testimonials1">testimonials</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#team1">team</a>
					</li>

					<li>
						<a data-scroll="scrollTo" href="#cta1">request</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#footer1">contact</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</header>

<!-- Hero #4
============================================= -->
<section id="hero" class="hero hero-5 bg-overlay bg-overlay-dark">
	<div class="bg-section">
		<%= image_tag 'interact/hero/hero-5.jpg', alt: 'Background' %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="hero-content">
				<!-- <h1>Interact</h1> -->
				<p>Master A-level Maths and get an A*.</p>
				<div class="form-action">
					<form>
						<input type="text" class="form-control" id="your-address" name="email" placeholder="Your email address*">
					  <button type="submit" class="btn btn-primary">Start For Free</button>
					</form>
				</div>
				<div class="credit">Get 30 days free trial now, No credit card required!</div>
				</div>
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
	<div class="hero-next">
		<a data-scroll="scrollTo" href="#tab1"><i class="lnr lnr-chevron-down"></i></a>
	</div>
</section><!-- #hero end -->

<!-- Tab#1
============================================= -->
<section id="tab1" class="tabs tab-1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="heading text-center">
					<h2>How We Can Help You ?</h2>
				</div>
			</div><!-- .col-md-6 end -->
		</div><!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="text-center">

				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
						<i class="lnr lnr-pie-chart"></i>
						<h3>Data Pie Charts</h3>
					</a></li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="lnr lnr-bookmark"></i>
						<h3>User Analysis</h3></a></li>
					<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="lnr lnr-map"></i>
						<h3>Financial Guide</h3></a></li>
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="home">
						<p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio amet nibh vulputate cursus a sit amet mauris viele morbi accumsan ipsum velit.</p>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="profile">
						<p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio amet nibh vulputate cursus a sit amet mauris viele morbi accumsan ipsum velit.</p>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="messages">
						<p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio amet nibh vulputate cursus a sit amet mauris viele morbi accumsan ipsum velit.</p>
					</div>
				  </div>

				</div>
			</div><!-- .col-md-6 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #tab1 end -->
<hr class="mt-0 mb-0">
<!-- Featured#1
============================================= -->
<section id="featured1" class="featured featured-1">
	<div class="container">
		<div class="row">
			<!-- Featured Panel #1 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="featured-panel">
					<div class="featured-icon">
						<i class="lnr lnr-laptop-phone"></i>
					</div>
					<div class="featured-content">
						<h3>Mobile First</h3>
						<p>Duis sed odio sit amet nibh vuutate cursus a sit amet mauris morbi accumsan ipsum velit nam nec tellus viele a odio.</p>
					</div>
				</div>
			</div><!-- .col-md-4 end -->

			<!-- Featured Panel #2 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="featured-panel">
					<div class="featured-icon">
						<i class="lnr lnr-sync"></i>
					</div>
					<div class="featured-content">
						<h3>Up To Date</h3>
						<p>Duis sed odio sit amet nibh vuutate cursus a sit amet mauris morbi accumsan ipsum velit nam nec tellus viele a odio.</p>
					</div>
				</div>
			</div><!-- .col-md-4 end -->

			<!-- Featured Panel #3 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="featured-panel">
					<div class="featured-icon">
						<i class="lnr lnr-cloud-check"></i>
					</div>
					<div class="featured-content">
						<h3>Cloud Data</h3>
						<p>Duis sed odio sit amet nibh vuutate cursus a sit amet mauris morbi accumsan ipsum velit nam nec tellus viele a odio.</p>
					</div>
				</div>
			</div><!-- .col-md-4 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #featured1 end -->

<!-- Media#5
============================================= -->
<section id="media5" class="media media-4 media-5 text-center bg-overlay bg-overlay-dark">
	<div class="bg-section" >
		<%= image_tag 'interact/background/bg-8.jpg', alt: 'Background' %>
		<!-- <img src="assets/images/background/bg-8.jpg" alt="Background"/> -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

				 <h3>Watch a Demo</h3>
				 <p>Lorem ipsum dolor amet, consectetur adipisicing elite,<br>sede eiusmod tempor incididunt labore.</p>
				 <a class="popup-video" href="https://www.youtube.com/watch?v=6NC_ODHu5jg"><i class="fa fa-play"></i></a>
			</div><!-- .col-md-8 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #media5 end -->

<!-- Testimonials#1
============================================= -->
<section id="testimonials1" class="testimonials testimonials-1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div id="testimonial-full">
					<!-- Testimonial #1 -->
					<div class="testimonial-panel">
						<div class="testimonial-body">
							<div class="testimonial-content">
								<p>“ Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non mauris vitae erat.”</p>
							</div>
							<div class="testimonial-meta">
								<h4>Diana Johnson<span>, Envato inc. </span></h4>
							</div>
							<!-- .testimonial-meta end -->
						</div>
						<!-- .testimonial-body end -->
					</div>
					<!-- .testimonial-panel end -->

					<!-- Testimonial #2 -->
					<div class="testimonial-panel">
						<div class="testimonial-body">
							<div class="testimonial-content">
								<p>“ Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non mauris vitae erat.”</p>
							</div>
							<div class="testimonial-meta">
								<h4>Ayman Fikry<span>, Zytheme inc. </span></h4>
							</div>
							<!-- .testimonial-meta end -->
						</div>
						<!-- .testimonial-body end -->
					</div>
					<!-- .testimonial-panel end -->

					<!-- Testimonial #3 -->
					<div class="testimonial-panel">
						<div class="testimonial-body">
							<div class="testimonial-content">
								<p>“ Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non mauris vitae erat.”</p>
							</div>
							<div class="testimonial-meta">
								<h4>Habaza<span>, 7roof inc. </span></h4>
							</div>
							<!-- .testimonial-meta end -->
						</div>
						<!-- .testimonial-body end -->
					</div>
					<!-- .testimonial-panel end -->

				</div>
				<!-- #testimonial-oc end -->
			</div>
			<!-- .col-md-6 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #testimonials1 end -->

<!-- Team#1
============================================= -->
<section id="team1" class="team team-1 text-center bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="heading">
					<h2>Creative Team</h2>
					<p>Lorem ipsum dolor amet, consectetur adipisicing elite,sede eiusmod tempor incididunt labore.</p>
				</div>
			</div>
		</div><!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="teams">
				<!-- <%= image_tag 'interact/team/team-4.png', alt: 'member' %> -->
				<%= image_tag 'interact/team/team-2.png', alt: 'member' %>
				<%= image_tag 'interact/team/team-3.png', alt: 'member' %>
				</div>
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #team1 end -->

<!-- CTA#1
============================================= -->
<section id="cta1" class="cta-1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="heading text-center">
					<h2>Register Now for 30 days Free Trial</h2>
				</div>
			</div><!-- .col-md-6 end -->
		</div><!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="action-form">
					<form class="form-inline">
						<input type="text" id="name" class="form-control" name="name" placeholder="Your name*" required />
						<input type="email" id="email" class="form-control" name="email" placeholder="Your Email Address*" required/>
						<button class="btn btn-primary" type="submit">Register Now</button>
					</form>
				</div>
			</div><!-- .col-md-6 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #cta1 end -->

<!-- Footer#1
============================================= -->
<footer id="footer1" class="footer footer-1 bg-gray pt-0 pb-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4  pr-0 pl-0">
				<div id="googleMap" style="width:100%;height:800px;">
				</div>

			</div><!-- .col-md-6 end -->
			<div class="col-xs-12 col-sm-6 col-md-8">

				<div class="contact-form">
					<div class="row pr-0 pl-0">
						<div class="col-xs-12 col-sm-12 col-md-8">
							<h3>Get In Touch</h3>
							<p>Lorem ipsum dolor amet, consectetur adipisicing elitesede eiusmod tempor incididunt labore.</p>
						</div>
					</div><!-- .row end -->
					<div class="row">
					<form id="contact-form" action="assets/include/sendmail.php" method="post" class="mb-0">
						<div class="col-xs-12 col-sm-12 col-md-6">
						<input type="text" id="name" class="form-control" name="name" placeholder="Your name*" required />
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6">
						<input type="email" id="email" class="form-control" name="email" placeholder="Your Email Address*" required/>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						<textarea rows="5" class="form-control" name="message" placeholder="Message*" required></textarea>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
						<button class="btn btn-primary" type="submit">Contact Us</button>
						</div>
					</form>
					<div class="contact-result"></div>
					</div><!-- .row end -->
				</div>
			</div><!-- .col-md-6 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</footer><!-- #footer1 end -->

 </div><!-- #wrapper end -->
