<aside class="left-sidebar">
  <% if current_user.has_role?(:super_admin, :admin) %>
  <h6>OPTIONS:</h6>
    <%= link_to 'Archived Tickets', ticket_archive_path(archive_view: archive_view_status ), method: :post, class: 'custom-btn' %>
  <% end %>
</aside>

<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableCell" style="width: 10%;">Status &nbsp;</div>
    <div class="divTableCell" style="width: 10%;">Category &nbsp;</div>
    <div class="divTableCell" style="width: 50%;">Description &nbsp;</div>
    <div class="divTableCell" style="width: 15%;">View Ticket &nbsp;</div>
    </div>
      <% @tickets.each do |ticket| %>
        <% next if !owned?(ticket) && !current_user.has_role?(:super_admin, :admin) %>
        <% next if closed?(ticket) && session[:archive].blank? && !current_user.has_role?(:student) %>
        <div class="divTableRow">
            <div class="divTableCell">
              <%= content_tag :span, ticket.status, class: ticket_status_class(ticket.status) %>
            </div>
            <div class="divTableCell">
              <%= display_tags(ticket) %></br>
            </div>
            <div class="divTableCell">
              <%= description(ticket) %>
            </div>
            <div class="divTableCell">
              <%= link_to "View #{ticket.id}", ticket_path(ticket), class: "custom-btn" %>
              <% if current_user.has_role?(:super_admin, :admin) %>
                <%= link_to "Delete #{ticket.id}", ticket_path(ticket),method: :delete, class: "custom-btn" %>
                <%= "Closed by " + ticket.agent.email.to_s unless ticket.agent.nil? %>
              <% end %>
            </div>
        </div>
      <% end %>
  </div>
</div>
