<button class="custom-btn" onclick="checkAll()">Check all</button>
<button class="custom-btn" onclick="uncheckAll()">Uncheck all</button>

<%= form_for @lesson, url: { action: 'create_question' }, method: :post do |f| %>

  <% @questions.each do |q| %>
    <div class="lesson-question-wrapper">
      <input type='checkbox' class="lesson-question-check" id="question_<%= q.id %>" name='question_ids[]' value='<%= q.id %>' <% if @lesson.questions.include? q %>checked<% end %>>
      <div class="pick-lesson-question-text"><%= q.question_text %></div>
      <div class="lesson-question-order">
        <%= q.order %>
      </div>
      <div class="edit-question-in-lesson">
        <%= link_to "Edit", edit_question_path(q), id:"edit-question-#{q.id}" %>
      </div>
      <div class="question-lesson">
        <% if q.lessons.length > 0%>
          <% q.lessons.each do |lesson| %>
            &emsp; <%= lesson.name %> &emsp;
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= f.submit %>

<% end %>

<%= form_for @question do |f| %>
  <%= f.label :question_text %>
  <%= f.text_area :question_text %>
  <%= f.label :solution %>
  <%= f.text_area :solution %>
  <%= f.label :difficulty_level %>
  <%= f.text_area :difficulty_level %>
  <%= f.label :experience %>
  <%= f.text_area :experience %>
  <%= f.hidden_field :lesson_id, value: @lesson.id %>
  <%= f.hidden_field :redirect, value: @redirect %>
  <%= f.submit %>
<% end %>
