<div class='lesson-collapsable' id="lesson-<%= lesson.id %>">
    <div class='lesson-headings hvr-glow'>
      <div class='lesson-howework-number'>
        Lesson <%= lesson_count%>
      </div>
      <div class='lesson-name lesson-howework-number'>
        <%= content_tag(:p, lesson.name) %>
        <div class='lesson-progress-exp clear-float'>
          <div class="exp-bar-lesson">
            <div class="topic-bar" id="lesson-bar-<%= lesson.id %>" style="width: <%= lesson_bar_exp(lesson, user) %>%;" ></div>
            <div class="bar-text-lesson">
              <span class="current-lesson-exp" id="lesson-<%= lesson.id %>-exp" >
                <%= StudentLessonExp.current_exp(user,lesson) %>
              </span>
              /
              <span id="lesson-pass-<%= lesson.id %>-exp" >
                <%= lesson.pass_experience %>
              </span>
            </div>
            <p class="lvl">&emsp; Pass</p>
          </div>
        </div>
      </div>

      <div class="homework-checkbox">
        <%= label_tag "lesson-homework-#{lesson.id}", 'Set as homework' %>
        <%= check_box_tag('homework[lesson_ids][]', lesson.id, set_as_homework?(lesson, user), id: "lesson-homework-#{lesson.id}", class: 'pass-lesson-checkbox') %></br>
        <%= number_field_tag('', nil, step: 1, id: "target-exp-#{lesson.id}") %></br>
        <%= range_field_tag("sliders", 10, min: 10, max: 100, step: 1, class: 'range-slider', id: lesson.id) %>
      </div>

      <%= homework_indicator(lesson, user) %>
    </div>
</div>
