<div class='lesson-collapsable' id="lesson-<%= lesson.id %>">
    <div class='lesson-headings hvr-glow'>
      <div class='lesson-howework-number'>
        Lesson <%= lesson_count%>
      </div>
      <div class='lesson-name lesson-howework-number'>
        <%= content_tag(:p, lesson.name) %>
      </div>
      <div class='lesson-progress-exp'>
        <div class="exp-bar-lesson">
          <%= homework_exp_bar(lesson, user) %>
          <div class="topic-bar" id="lesson-bar-<%= lesson.id %>" style="width: 0%;" data-progress="<%= lesson_bar_exp(lesson, user) %>%" ></div>
          <div class="bar-text-lesson">
            <span class="current-lesson-exp" id="lesson-<%= lesson.id %>-exp" >
              <%= StudentLessonExp.current_exp(user,lesson) %>
            </span>
            /
            <span id="lesson-pass-<%= lesson.id %>-exp" >
              <%= lesson.pass_experience %>
            </span>
          </div>
          <p class="lvl">&emsp; Pass</p>
        </div>
      </div>

      <%= homework_form(lesson: lesson, user: user) %>
      <%= homework_indicator(lesson, user) %>
    </div>
</div>
