<%= form_tag teachers_invite_user_path do %>
  <%= label_tag :email, 'Student Email' %>
  <%= text_field_tag :email %>
  <%= submit_tag 'Invite Student' %>
<% end %>

<% unless current_user.students.empty? %>
  <%= form_tag teachers_student_view_path do %>
    <%= label_tag :student %>
    <%= select_tag :student, options_for_select(@students.pluck(:email)), { name: 'student[email]', id: 'student_email' } %>
    <%= submit_tag 'View Student' %>
  <% end %>
<% end %>

  <div class="content" id="content">
    <div class="row">
      <div class="row line-separator"> </div>
      <div class='row' ><h6> Private Courses </h4></div>
          <% if @private_courses.present? %>
              <% @private_courses.each do |course| %>
                <div class='course-card-container'>
                  <%= render partial: 'card', locals: { path: "courses", top_object: course, parts_title: "Module", main_title: "Course", course_color: course.hexcolor, div_stacks: 2, use_desc: true, user: @student } %>
                </div>
              <% end %>
          <% end %>
      <div class="row line-separator"> </div>
    </div>

    <div class="row">
        <% if @public_courses.present? %>
            <% @public_courses.each do |course| %>
              <div class='course-card-container'>
                <%= render partial: 'card', locals: { path: "courses", top_object: course, parts_title: "Module", main_title: "Course", course_color: course.hexcolor, div_stacks: 2, use_desc: true, user: @student } %>
              </div>
            <% end %>
        <% end %>
    </div>
  </div>
