<% if maker_signed_in? %>
  <%= link_to "Sign out", destroy_maker_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_maker_session_path %>
  <%= link_to "Sign up", new_maker_registration_path %>
<% end %>

<p>
  <% unless @courses.any? %>
    No courses added yet
  <% end %>
  <% if current_maker %>
    <%= link_to 'Add a course', new_course_path %>
  <% end %>
</p>

<% if @courses.any? %>
  <% @courses.each do |course| %>
    <h1><%= course.name %></h1>
    <p>
      <%= link_to " View #{course.name}", course_path(course) %>
      <% if course.maker == current_maker %>
        <%= link_to "Edit #{course.name}", edit_course_path(course)%>
        <%= link_to "Delete #{course.name}", course_path(course), method: :delete%>
      <% end %>
    </p>
    <p><em>Course description: &emsp; </em><%= course.description %></p>

    <p>
      <% unless course.units.any?%>
        No units have been added for <%= course.name%>
      <% end %>
      <%= link_to "Add a unit for #{course.name}", new_course_unit_path(course) %>
    </p>

    <% course.units.each do |unit| %>
      <h2>Unit: <%= unit.name %></h2>
      <p><em>Unit description: &emsp; </em><%= unit.description %></p>
      <p>
        <%= link_to "View #{unit.name}", unit_path(unit) %>
        <%= link_to "Edit #{unit.name}", edit_unit_path(unit) %>
      </p>
    <% end %>

  <% end %>
<% end %>
