<% if @courses.any? %>
  <% @courses.each do |course| %>

    <div class='course-card-container'>
      <%= render partial: 'shared/card', locals: { path: "courses",top_object: course, parts_title: "Module", main_title: "Course", course_color: course.hexcolor, div_stacks: 2, use_desc: true, } %>

      <% if can? :edit, Course %>
        <div class='crud-links'>
          &emsp;&emsp;&emsp;
          <%= link_to "Edit", edit_course_path(course)%>
          &emsp;
          <% if current_user && current_user.has_role?(:super_admin) %>
            <%= link_to "Delete", course_path(course), method: :delete%>
          <% end %>
          <span style="padding-left:260px;">Sort order: <%= course.sort_order%></span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if can? :edit, Course %>
  <div class="add-one">
      <%= link_to 'Add a course', new_course_path %>
  </div>
<% end %>
