<% if maker_signed_in? %>
  <%= link_to "Sign out", destroy_maker_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_maker_session_path %>
  <%= link_to "Sign up", new_maker_registration_path %>
<% end %>

<% if @courses.any? %>
  <% @courses.each do |course| %>
    <h3><%= link_to course.name, course_path(course) %></h3>
    <p><%= course.description %></p>
    <p>
      <% if course.maker == current_maker %>
        <%= link_to "Edit #{course.name}", edit_course_path(course)%>
        <%= link_to "Delete #{course.name}", course_path(course), method: :delete%>
      <% end %>
    </p>
  <% end %>
<% else %>
  No courses added yet
<% end %>
<% if current_maker %>
  <%= link_to 'Add a course', new_course_path %>
<% end %>
