<section>
  <ul id="courses-gallery">
    <% if @courses.any? %>
      <% @courses.each do |course| %>
        <li>
          <a href="/courses/<%= course.id %>" >
            <div class="course-top" style="background-color:#<%= course.hexcolor%>;">
              <%= course.name %>
            </div>
            <div class ="course-bot">
              <%= course.description %>
            </div>
          </a>
          <% if course.maker == current_maker %>
            <div class='course-links'>
              &emsp;
              <%= link_to "Edit", edit_course_path(course)%>
              &emsp;
              <%= link_to "Delete", course_path(course), method: :delete%>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <% if current_maker %>
    <div class="add-course">
        <%= link_to 'Add a course', new_course_path %>
    </div>
  <% end %>
</section>
