<% if maker_signed_in? %>
  <%= link_to "Sign out", destroy_maker_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_maker_session_path %>
  <%= link_to "Sign up", new_maker_registration_path %>
<% end %>

<% if @courses.any? %>
  <% @courses.each do |course| %>
    <h3><%= course.name %></h3>
    <p><%= course.description %></p>
  <% end %>
<% else %>
  No courses added yet
<% end %>
<%= link_to 'Add a course', new_course_path %>
