<a class='back-link' href="/courses"><i class="fa fa-arrow-left" aria-hidden="true"></i> &emsp;Courses</a>
<div class='course-card-container course-card-container-stretched'>
  <div class='course-card'>
    <div class="course-top" style="background-color:#<%= @course.hexcolor%>;">
      <p class='course-module-text'>Module</p>
      <div class='module-circle-container'>
        <div class='circle module-circle' style="background-color:#<%= @course.hexcolor%>;"></div>
        <div class='circle module-circle' style="background-color:#<%= @course.hexcolor%>;"></div>
        <div class='circle module-circle' style="background-color:#<%= @course.hexcolor%>;"></div>
      </div>
      <div class='progress-bar'>
        <div class='progress-indicator'>
        </div>
      </div>
      <div class='progress-level'>
        Lvl 3
      </div>
    </div>
    <div class="course-bot">
      <p class='course-title'>Course</p>
      <p class='course-name'><%= @course.name %></p>
      <p class='course-desc'><%= @course.description %></p>
      <button class='course-start-button' style="background-color:#<%= @course.hexcolor%>;">Start</button>
    </div>
  </div>
  <div class='course-card-background-1'></div>
  <div class='course-card-background-2'></div>
</div>


<% if @course.units.any? %>
  <% @course.units.each do |unit| %>
    <div class='unit-card'>
      <a href="/units/<%= unit.id %>" style="text-decoration: none;">
        <div class="unit-top" style="background-color:#<%= @course.hexcolor%>;">
          <%= unit.name %>
        </div>
        <div class ="unit-bot">
          <%= unit.description %>
        </div>
      </a>
      <% if can? :edit, unit %>
        <div class='unit-links'>
          &emsp;
          <%= link_to "Edit", edit_unit_path(unit)%>
          &emsp;
          <%= link_to "Delete", unit_path(unit), method: :delete%>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if can? :create, Unit %>
<div class="add-unit">
    <%= link_to 'Add a unit', new_course_unit_path(@course) %>
</div>
<% end %>
