<div class="course-name">
    <%= @course.name %>
</div>
<div class="back">
    <%= link_to "Back", courses_path%>
</div>
<section>
  <ul id="course-units-gallery">
    <% if @course.units.any? %>
      <% @course.units.each do |unit| %>
        <li>
          <a href="/units/<%= unit.id %>" style="text-decoration: none;">
            <div class="unit-top" style="background-color:#<%= @course.hexcolor%>;">
              <%= unit.name %>
            </div>
            <div class ="unit-bot">
              <%= unit.description %>
            </div>
          </a>
          <% if can? :edit, unit %>
            <div class='unit-links'>
              &emsp;
              <%= link_to "Edit", edit_unit_path(unit)%>
              &emsp;
              <%= link_to "Delete", unit_path(unit), method: :delete%>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <% if can? :create, Unit %>
    <div class="add-unit">
        <%= link_to 'Add a unit', new_course_unit_path(@course) %>
    </div>
  <% end %>
</section>
