<div class="devise-custom">
  <div class="user-form">

    <ul class="users-link-group">
      <li class="tab" >
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li class="tab">
        <%= link_to "Log in", new_session_path(resource_name) %>
      </li>
    </ul>

    <div class="tab-content">
      <h1>Forgot your password?</h1>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field-wrap">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "Reset password", class: 'button button-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
