<a class='back-link' href="/courses/<%= @unit.course.id %>"><i class="fa fa-arrow-left" aria-hidden="true"></i> &emsp;<%= @unit.course.name %></a>
<div class='course-card-container course-card-container-stretched'>
  <%= render partial: 'shared/card', locals: {path: 'units', top_object: @unit, parts_title: "Chapters", main_title: "Module", course_color: @unit.course.hexcolor, div_stacks: 1 } %>
</div>

<% course_color = @unit.course.hexcolor %>

<% if @unit.topics.any? %>
  <%topic_count = 1%>
  <% @unit.topics.each do |topic| %>
      <a class='topic-collapsable' data-toggle="collapse" href="#collapse<%=topic_count%>">

          <div class='topic-headings'>
            <div class='chapter-info-container'>
              <div class='chapter-number'>
                Chapter <%= topic_count%>
              </div>
              <div class='chapter-name'>
                <%= topic.name %>
              </div>
            </div>

            <div class='progress-exp'>
              Exp: &emsp; 1250/3000 &emsp; Lvl 4
            </div>
          </div>

          <% if can? :edit, topic %>
            <div class='crud-links'>
              &emsp;
              <%= link_to "Edit chapter", edit_topic_path(topic) %>
              &emsp;
              <%= link_to "Delete chapter", topic_path(topic), method: :delete%>
              &emsp;
              <%= link_to "Add a lesson to chapter", new_topic_lesson_path(topic) %>
              &emsp;
              <%= link_to "Add questions to Chapter", new_question_topic_path(topic) %>
            </div>
          <% end %>
      </a>

      <%topic_count = topic_count + 1%>
      <%lesson_count = 1%>
      <% topic.lessons.each do |lesson| %>

        <div class='lesson-headings'>
          <div class='lesson-number'>
            Lesson <%= lesson_count%>
          </div>
          <div class='lesson-name'>
            <%= lesson.name %>
          </div>
          <div class='lesson-progress-exp'>
            Exp: &emsp; 1250/2000 &emsp; Pass
          </div>
        </div>


        <%lesson_count = lesson_count + 1%>
        <div class='video-screen'>
          <iframe width="940" height="580" src="https://www.youtube.com/embed/<%= lesson.video %>" frameborder="0" allowfullscreen></iframe>
        </div>
        <% if can? :edit, lesson %>
        <div class='crud-links'>
          &emsp;
          <%= link_to "Edit lesson", edit_lesson_path(lesson) %>
          &emsp;
          <%= link_to "Delete lesson", lesson_path(lesson), method: :delete%>
          &emsp;
          <%= link_to "Add questions to lesson", new_question_lesson_path(lesson) %>
        </div>
        <% end %>

        <% if current_user == nil %>
              <% if lesson.questions.any? %>
                  <% rand_q = lesson.questions.first %>
                  <div class="question-container">
                    <p><strong>Question</strong></p>
                    <p><%= rand_q.question_text %></p>
                      <%= form_for rand_q, url: { controller: :questions, action: 'check_answer' }, method: :post do |f| %>
                          <input type='hidden' name='question_id' value=<%= rand_q.id %>>
                          <% rand_q.choices.each do |c| %>
                            <input type='radio' id="choice-<%= c.id %>" name='choice' value=<%= c.correct %>>
                            <%= c.content %>
                            <br>
                          <% end %>
                          <%= f.submit "Submit answer", class: 'solution-link' %>
                          <div id="correct"></div>
                          <div id="solution-latex"></div>
                      <% end %>
                  </div>
              <% else %>
                  <div class="question-container">
                    <div id="solution-latex">
                        No questions have been added to this lesson yet.
                    </div>
                  </div>
              <% end %>
        <% elsif (current_user.admin? || current_user.super_admin?) %>
            <div class="question-container">
                <%question_count = 1%>
                <% lesson.questions.each do |question| %>
                  <p><strong>Question <%= question_count%></strong></p>
                  <p><%= question.question_text %></p>
                  <p><strong>Solution <%= question_count%></strong></p>
                  <p><%= question.solution %></p>
                  <%question_count = question_count + 1%>
                  <p>
                    <%= link_to "Edit question", edit_question_path(question) %>
                    &emsp;
                    <%= link_to "Delete question", question_path(question), method: :delete%>
                    &emsp;
                    <%= link_to "Add a choice to question", new_question_choice_path(question) %>
                  </p>
                  <p>
                    <ul>
                    <% question.choices.each do |choice| %>
                      <li>
                        &emsp; <%= choice.content %>
                        &emsp; <%= choice.correct %>
                      </li>
                    <% end %>
                    </ul>
                  </p>
                <% end %>
            </div>
        <% elsif current_user.student? %>
          <% if lesson.questions.any? %>
              <% if current_user && current_user.has_current_question?(lesson)%>
                <% rand_q = current_user.fetch_current_question(lesson)  %>
              <% else %>
                <% rand_q = lesson.random_question(current_user) %>
                <% if current_user %>
                  <% CurrentQuestion.create(user_id: current_user.id, lesson_id: lesson.id, question_id: rand_q.id)%>
                <% end %>
              <% end %>
                    <div class="question-container">
                      <p class='question-header'>Question &emsp; (100 xp)</p>
                      <p class='question-text'><%= rand_q.question_text %></p>
                      <%= form_for rand_q, url: { controller: :questions, action: 'check_answer' }, method: :post do |f| %>
                          <input type='hidden' name='question_id' value=<%= rand_q.id %>>
                          <% rand_q.choices.each do |c| %>
                            <input class="question-choice" type='radio' id="choice-<%= c.id %>" name='choice' value=<%= c.correct %>>
                            &emsp;<%= c.content %>
                            <br>
                          <% end %>
                          <%= f.submit "Submit answer", class: 'solution-link' %>
                          <div id="correct" class="question-result"></div>
                          <div id="solution-latex" class="question-solution"></div>
                      <% end %>
                      <%= link_to "Next question", next_question_lesson_path(lesson),class: "next-question" %>
                      <div class="trythis"></div>
                    </div>

          <% else %>
                    <div class="question-container">
                      <div id="solution-latex">
                          No questions have been added to this lesson yet.
                      </div>
                    </div>
          <% end %>



        <% end %>

      <% end %>

      <p>End of Chapter Questions</p>

      <div class="chapter-question-div">
          <% topic.questions.each_with_index do |question,i| %>
            <p><strong>Question <%= i + 1 %></strong></p>
            <p><%= question.question_text %></p>
            <p><strong>Solution <%= i + 1%></strong></p>
            <p><%= question.solution %></p>
            <p>
              <%= link_to "Edit question", edit_question_path(question) %>
              &emsp;
              <%= link_to "Delete question", question_path(question), method: :delete%>
              &emsp;
              <%= link_to "Add a choice to question", new_question_choice_path(question) %>
            </p>
            <p>
              <ul>
              <% question.choices.each do |choice| %>
                <li>
                  &emsp; <%= choice.content %>
                  &emsp; <%= choice.correct %>
                </li>
              <% end %>
              </ul>
            </p>
          <% end %>
      </div>


  <% end %>
<% end %>

<% if can? :create, Topic %>
  <div class="back">
    <%= link_to "Add a new chapter", new_unit_topic_path(@unit) %>
  </div>
<% end %>
