<div class="unit-name">
    <%= @unit.name %>
</div>
<div class="back">
    <%= link_to "Back", course_path(@unit.course)%>
</div>
<% if can? :create, Topic %>
  <div class="back">
    <%= link_to "Add a new chapter", new_unit_topic_path(@unit) %>
  </div>
<% end %>

<% if @unit.topics.any? %>
  <%topic_count = 1%>
  <% @unit.topics.each do |topic| %>
      <a data-toggle="collapse" href="#collapse<%=topic_count%>">
          <div class='topic-headings'>
            <h4>Chapter <%= topic_count%>&emsp; <%= topic.name %></h4>
            <p><%= topic.description %><p>
          </div>
          <% if can? :edit, topic %>
            <div class='crud-links'>
              &emsp;
              <%= link_to "Edit chapter", edit_topic_path(topic) %>
              &emsp;
              <%= link_to "Delete chapter", topic_path(topic), method: :delete%>
              &emsp;
              <%= link_to "Add a lesson to chapter", new_topic_lesson_path(topic) %>
            </div>
          <% end %>
      </a>
      <div id="collapse<%=topic_count%>" class="panel-collapse collapse">
          <%topic_count = topic_count + 1%>
          <%lesson_count = 1%>
          <% topic.lessons.each do |lesson| %>
            <div class="lesson-heading">
              <%= lesson_count %>. <%= lesson.name %>
            </div>
            <%lesson_count = lesson_count + 1%>
            <iframe width="940" height="528" src="https://www.youtube.com/embed/<%= lesson.video %>" frameborder="0" allowfullscreen></iframe>
            <% if can? :edit, lesson %>
            <div class='crud-links'>
              &emsp;
              <%= link_to "Edit lesson", edit_lesson_path(lesson) %>
              &emsp;
              <%= link_to "Delete lesson", lesson_path(lesson), method: :delete%>
              &emsp;
              <%= link_to "Add questions to lesson", new_question_lesson_path(lesson) %>
            </div>
            <% end %>
            <div class="question-div">
            <% if current_user.admin? || current_user.super_admin? %>
              <%question_count = 1%>
              <% lesson.questions.each do |question| %>
                <p><strong>Question <%= question_count%></strong></p>
                <p><%= question.question_text %></p>
                <p><strong>Solution <%= question_count%></strong></p>
                <p><%= question.solution %></p>
                <%question_count = question_count + 1%>
                <p>
                  <%= link_to "Edit question", edit_question_path(question) %>
                  &emsp;
                  <%= link_to "Delete question", question_path(question), method: :delete%>
                  &emsp;
                  <%= link_to "Add a choice to question", new_question_choice_path(question) %>
                </p>


                <p>
                  <ul>
                  <% question.choices.each do |choice| %>
                    <li>
                      &emsp; <%= choice.content %>
                      &emsp; <%= choice.correct %>
                    </li>
                  <% end %>
                  </ul>
                </p>


              <% end %>
            <% else %>
              <% if lesson.questions.any? %>
                <div class="question-div">
                  <%rand_q = lesson.random%>
                  <p><strong>Question</strong></p>
                  <p><%= rand_q.question_text %></p>
                  <%= form_for rand_q, url: { controller: :questions, action: 'check_answer' }, method: :post do |f| %>
                    <% rand_q.choices.each do |c| %>
                      <input type='radio' id="<%= c.id %>" name='choice' value=<%= c.correct %>>
                      <%= c.content %>
                      <br>
                    <% end %>
                    <%= f.submit class: 'solution-link' %>
                    <div id="correct"></div>
                    <div id="solution-latex"></div>
                  <% end %>

                </div>
              <% else %>
                <div class="question-div">
                  <div id="solution-latex">
                      No questions have been added to this lesson yet.
                  </div>
                </div>
              <% end %>



            <% end %>
            </div>
          <% end %>
      </div>
  <% end %>
<% end %>
