<% if !!@unit.course %>
  <a class='back-link' href="/courses/<%= @unit.course.id %>"><i class="fa fa-arrow-left" aria-hidden="true"></i> &emsp;<%= @unit.course.name %></a>
<% end %>
<div class='course-card-container course-card-container-stretched'>
  <%= render partial: 'shared/card', locals: {path: 'units', top_object: @unit, parts_title: "Chapters", main_title: "Module", course_color: '#DDDDDD', div_stacks: 1, use_desc: false, alt_desc: @unit.topics } %>
</div>
<% if !!@unit.course %>
<% course_color = @unit.course.hexcolor %>
<% end %>
<% if @unit.topics.any? %>
  <%topic_count = 1%>
  <% @unit.topics.order('sort_order').each do |topic| %>
      <%= render partial: 'shared/unit_topic_card', locals: {topic: topic, current_user: current_user, topic_count: topic_count} %>
      <%topic_count = topic_count + 1%>
      <%= render partial: 'shared/topic_lessons', locals: {topic: topic, current_user: current_user} %>

  <% end %>
<% end %>

<% if can? :create, Topic %>
  <div class="add-one">
    <%= link_to "Add a new chapter", new_unit_topic_path(@unit) %>
  </div>
<% end %>
