<h2>Edit <%= @user.class.to_s.humanize %></h2>

<%= form_for(@user, as: :user, url: { controller: 'users', action: 'update', id: @user.id }, html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :first_name %></br>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %></br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :username %></br>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field" style="padding-top: 10px; padding-bottom: 10px;">
    <%= f.label :role %>
    <%= f.select :role, ['student', 'admin', 'tester'], selected: @user.role %>
  </div>

  <div class="field">
    <%= f.label :password %> <i style="color: green;">(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= link_to "Back", :back, class: 'custom-btn' %>
</div>
