<!DOCTYPE html>
<html>
  <head>
    <title>RailsTwo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
  </head>

  <body>
    <h1>OneMaths</h1>

    <p>
      <%= link_to 'Home', home_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'FAQ', faq_path %>
      <%= link_to 'Blog', blog_path %>
      <%= link_to 'Contact', contact_path %>
    </p>

    <p>
      When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
      $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
    </p>
    <%= notice %>
    <%= yield %>
  </body>
</html>
