<!DOCTYPE html>
<html>
  <head>
    <title>RailsTwo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/" id="logo">
        <h1>OneMaths</h1>
        <h5 class="subtitle">The one-stop shop for online maths learning</h5>
      </a>
      <nav>
        <ul>
          <li><%= link_to 'Home', home_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'FAQ', faq_path %></li>
          <li><%= link_to 'Blog', blog_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <% if maker_signed_in? %>
            <li><%= link_to "Sign out", destroy_maker_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_maker_session_path %></li>
            <li><%= link_to "Sign up", new_maker_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
      <div id="wrapper">
        <%= notice %>
        <%= yield %>
    </div>
  </body>
</html>
