<!DOCTYPE html>
<html>
  <head>
    <title>RailsTwo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#solution").toggle();
        $("#solution-button").click(function(){
            $("#solution").toggle();
        });
    });
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
  </head>

  <body>
    <header>
      <a href="/" id="logo">
        <h1>OneMaths</h1>
        <h5 class="subtitle">The one-stop shop for online maths learning</h5>
      </a>
      <nav>
        <ul>
          <li><%= link_to 'Home', home_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'FAQ', faq_path %></li>
          <li><%= link_to 'Blog', blog_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </nav>
    </header>
      <div id="wrapper">
      <% if maker_signed_in? %>
        <%= link_to "Sign out", destroy_maker_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_maker_session_path %>
        <%= link_to "Sign up", new_maker_registration_path %>
      <% end %>
      <p>
        When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
        $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
      </p>

      <%= notice %>
      <%= yield %>
    </div>
  </body>
</html>
