<!DOCTYPE html>
<html>

<head>
  <title>OneMaths</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
  </script>
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <%= render 'shared/header' %>
      <div class="wrapper">
        <%= render 'shared/side_nav' %>
        <%= yield %>
        <div class="flash-notice">
          <%= notice %>
        </div>
        <div class="flash-alert">
          <%= alert %>
        </div>
      </div>
    <%= render 'shared/footer' %>
  </body>
</html>
