<div class="devise-custom">
  <div class="user-form">

    <h1>Edit <%= resource_name.to_s.humanize %></h1>

    <div class="tab-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="top-row">
        <div class="field-wrap">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div class="field-wrap">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>

      <div class="field-wrap">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="field-wrap">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field-wrap">
        <% if @minimum_password_length %>
        <% var = "(#{@minimum_password_length} characters minimum)" %>
        <% end %>
        <%= f.label :password, "Password " + var unless var.blank? %>
        <%= f.password_field :password, autocomplete: "off" %>
        <i>(leave blank if you don't want to change it)</i>
      </div>

      <div class="field-wrap">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field-wrap">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "off" %>
        <i>(we need your current password to confirm your changes)</i>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'button button-block' %>
      </div>
    <% end %>
  </div>
  </div>
</div>

<%= link_to "Back", :back %>
